*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    
}

.title{
    text-align: center;
}

.woof-form{
    width: 50%;
    margin: 0 auto;
    transition: 2s ease-out;

    
}

.loading{
    width: 50%;
    /* border: 1px solid steelblue; */
    text-align: center;
    margin: 0 auto;
    transition: 2s ease-out;
    
}
p{
    margin-top: 5%;
}

.woofs{
    width: 60%;
    margin: 0 auto;

}

hr{
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

small{
    font-size: x-small;
}








/* --------------------------LOADER AHEAD---------------------------------------- */
#logo{
    zoom: 50%;
    margin:0 auto;
    display: block;
    
}
#logo path:nth-child(1){
 stroke-dasharray: 595px ;
 stroke-dashoffset: 595px;
 animation: line-anim 2s ease infinite;
 animation-direction:alternate ;
}
#logo path:nth-child(2){
 stroke-dasharray: 458px ;
 stroke-dashoffset: 458px;
 animation: line-anim 2s ease forwards 0.3s infinite;
 animation-direction: alternate;
   
}
#logo path:nth-child(3){
 stroke-dasharray: 483px ;
 stroke-dashoffset: 483px;
 animation: line-anim 2s ease forwards 0.6s infinite;
 animation-direction: alternate;
   
}
#logo path:nth-child(5){
 stroke-dasharray: 146px ;
 stroke-dashoffset: 146px;
 animation: line-anim 2s ease forwards 0.9s infinite;
 animation-direction: alternate;
   
}
#logo path:nth-child(6){
 stroke-dasharray: 490px ;
 stroke-dashoffset: 490px;
 animation: line-anim 2s ease forwards 0.12s infinite;
 animation-direction: alternate;
   
}
#logo path:nth-child(7){
 stroke-dasharray: 340px ;
 stroke-dashoffset:340px;
animation: line-anim 2s ease forwards 0.15s infinite;
animation-direction: alternate;
 
}
#logo path:nth-child(8){
 stroke-dasharray: 483px ;
 stroke-dashoffset: 483px;
 animation: line-anim 2s ease forwards .18s infinite;
 animation-direction: alternate;
   
}
#logo path:nth-child(9){
 stroke-dasharray: 498px ;
 stroke-dashoffset: 498px;
 animation: line-anim 2s ease forwards .24s infinite;
 animation-direction: alternate;
   
}
#logo path:nth-child(10){
 stroke-dasharray: 595px ;
 stroke-dashoffset: 595px;
 animation: line-anim 2s ease forwards .27s infinite;
 animation-direction: alternate;
   
}
#logo path:nth-child(4){
 stroke-dasharray: 340px ;
 stroke-dashoffset: 340px;
 animation: line-anim 2s ease forwards .30s infinite;
 animation-direction: alternate;
   
}

@keyframes line-anim{
  100%  {stroke-dashoffset: 0px;}
}
@keyframes fill{
    from{
        fill:transparent;
    }
    to{
        fill:white;
    }
}