{% extends "layout.html" %}
{% block body %}


        <div class="row">
            <div class = "container-fluid " id = "hero" style="background-color:#203647;">
                <center>
                <p style="margin-top:50px;"> 
                    <h3 style="font-family: Mullish; font-size: 20px; color:#54C598;">Frequntly Asked Questions</h3>
                </p>
                <p>
                    <h4 style="font-family:Mullish; font-size:35px;"> Introducing Techmihirnaik Group's Network</h4>
            </center>
            <div class= "container-fluid">
                <p style="font-size:25px; font-family:Mullish; color:#54C598; margin-top: 3%; line-height: 0.5px;"> Que: How does it work?
                </p>
                <p style="font-size:15px; color:white;">
                    It's simple to send electronic invoices over the internet:<br>
                          1. Sign up for a free account with Invoiced Business Network.<br>
                          2. Invite your buyer to become a member of the network.<br>
                          3. After connecting to your buyer on the network, you can use Invoice Generator to send invoices. 
                </p>
            </div>
             <div class= "container-fluid">
                <p style="font-size:25px; font-family:Mullish; color:#54C598; margin-top: 3%; line-height: 0.5px;"> Que: How much does it cost?
                </p>
                <p style="font-size:15px; color:white;">
                    Nothing!
                    Sending and receiving invoices on Techmihirnaik group's Network is completely free. 
                </p>
            </div>
             <div class= "container-fluid">
                <p style="font-size:25px; font-family:Mullish; color:#54C598; margin-top: 3%; line-height: 0.5px;"> Que: How do I get paid?
                </p>
                <p style="font-size:15px; color:white;">
                    When issuing the invoice, you can choose the payment methods you want to accept.Your buyer can then choose from any of the payment options you've provided. 
                </p>
            </div>
             <div class= "container-fluid">
                <p style="font-size:25px; font-family:Mullish; color:#54C598; margin-top: 3%; line-height: 0.5px;"> Que: Why it is better than email?
                </p>
                <p style="font-size:15px; color:white;">
                    Your invoices will not ever  get lost in someone's email inbox, or worse, the spam bin, if you use e-invoicing. Your buyer will receive line item level invoice data that they may plug into their accounts payable portal or accounting system in addition to a PDF of the invoice. As a result, your buyer will always receive your invoice and will be able to confirm payment sooner.  
                </p>
            </div>
             <div class= "container-fluid">
                <p style="font-size:25px; font-family:Mullish; color:#54C598; margin-top: 3%; line-height: 0.5px;"> Que: How do I access my invoices?
                </p>
                <p style="font-size:15px; color:white;">
                    Invoices are securely saved in the cloud and can be retrieved at any time for tax or legal purposes. 
                </p>
            </div>
             <div class= "container-fluid" style="margin-bottom: 70px;">
                <p style="font-size:25px; font-family:Mullish; color:#54C598; margin-top: 3%; line-height: 0.5px;"> Que: How secure is the network?
                </p>
                <p style="font-size:15px; color:white;">
                    Invoices sent through this Network are more secure than invoices sent through email.E-invoicing is also advantageous to your customers.When your buyers get bills from you via the network, they will know they are genuine.  
                </p>
            </div>
            </div>
        </div>
        

        
{% endblock %}