/*********************************
7. About
*********************************/
.feature_title
{
	position: relative;
	font-size: 30px;
	margin-top: 23px;
	font-family: fantasy;
}
.section_title
{
	position: relative;
	font-size: 30px;
	margin-top: 23px;
	font-family: cursive;
}
.about
{
	width: 100%;
	padding-top: 93px;
	padding-bottom: 100px;
	background: #FFFFFF;
}
.about_row
{
	margin-top: 56px;
}
.about_col_left
{
	padding-right: 25px;	
}
.about_col_right
{
	padding-left: 25px;
}
.about_col_middle
{
	padding-left: 20px;
	padding-right: 20px;
}
.about_item_image
{
	width: 100%;
	overflow: hidden;
}
.about_item_image img
{
	max-width: 100%;
	-webkit-transition: all 2000ms ease;
	-moz-transition: all 2000ms ease;
	-ms-transition: all 2000ms ease;
	-o-transition: all 2000ms ease;
	transition: all 2000ms ease;
}
.about_item:hover .about_item_image img
{
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}
.about_item_title
{
	margin-top: 22px;
}
.about_item_title a
{
	font-family: 'Roboto Slab', serif;
	font-size: 20px;
	font-weight: 700;
	color: #384158;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.about_item_title a:hover
{
	color: #14bdee;
}
.about_item_text
{
	margin-top: 12px;
}
.about_item_text
{
	line-height: 2;
}

/*********************************
8. Feature
*********************************/

.feature
{
	width: 100%;
	padding-top: 93px;
	padding-bottom: 100px;
}
.feature_background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.feature_row
{
	margin-top: 72px;
}
.feature_content
{
	padding-right: 54px;
}

.accordion_container
{
	background: #FFFFFF;
	border-radius: 6px;
	box-shadow: 0px 1px 10px rgba(0,0,0,0.1);
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 13px;
	padding-bottom: 4px;
}
.accordion_container:not(:last-child)
{
	margin-bottom: 10px;
}
.accordion
{
	width: 100%;
	padding-left: 27px;
	cursor: pointer;
	color: #000000;
	font-size: 14px;
	font-weight: 500;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.accordion div
{
	max-width: 90%;
	overflow: hidden;
	white-space: nowrap;
	font-family: 'Roboto Slab', serif;
	font-size: 20px;
	font-weight: 700;
	color: #384158;
}
.accordion::before
{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: -1px;
	left: 0;
	height: 100%;
	font-family: 'FontAwesome';
	content: '\f105';
	font-size: 24px;
	color: #384158;
	font-weight: 400;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.accordion.active::before
{
	content: '\f107';
	color: #14bdee;
}
.accordion_panel
{
	padding-right: 8px;
	padding-left: 30px;
	padding-top: 9px;
	max-height: 0px;
	overflow: hidden;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
.accordion.active + .accordion_panel
{
	margin-bottom: 20px;
}
.accordion_panel p
{
	font-size: 14px;
	font-weight: 400;
	color: #76777a;
	line-height: 2;
}
.feature_video
{
	width: calc(100% + 15px);
	left: -15px;
	height: 363px;
	margin-top: -4px;
}
.feature_video_background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	border-radius: 6px;
}
.feature_video_button
{
	display: block;
	width: 60px;
	height: 60px;
	z-index: 10;
	outline: none;
}


/*********************************
9. Team
*********************************/

.team
{
	width: 100%;
	padding-top: 93px;
	padding-bottom: 60px;
	background: #FFFFFF;
}
.team_row
{
	margin-top: 43px;
}
.team_col
{
	margin-bottom: 40px;
}
.team_item
{
	width: 100%;
}
.team_image
{
	width: 180px;
	height: 160px;
	border-radius: 6px;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: -86px;
	z-index: 5;
}
.team_image img
{
	max-width: 100%;
}
.team_body
{
	width: 100%;
	padding-top: 108px;
	padding-bottom: 24px;
	background: #FFFFFF;
	border-radius: 6px;
	box-shadow: 0px 1px 10px rgba(29,34,47,0.1);
	text-align: center;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.team_item:hover .team_body
{
	box-shadow: 0px 5px 40px rgba(29,34,47,0.15);
}
.team_title a
{
	font-family: 'Roboto Slab', serif;
	font-size: 20px;
	font-weight: 700;
	color: #384158;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.team_title a:hover
{
	color: #14bdee;
}
.team_subtitle
{
	font-size: 14px;
	font-weight: 400;
	color: #76777a;
	margin-top: 6px;
}
.social_list
{
	margin-top: 16px;
}
.social_list ul li
{
	display: inline-block;
}
.social_list ul li:not(:last-child)
{
	margin-right: 10px;
}
.social_list ul li a i
{
	font-size: 18px;
	color: #76777a;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.social_list ul li:hover a i
{
	color: #14bdee;
}
.team_col .team_item
{
	padding-left: 6px;
	padding-right: 6px;
}
.team_col:first-child .team_item
{
	padding-left: 0;
	padding-right: 6px;
}
.team_col:nth-child(4n) .team_item
{
	padding-left: 6px;
	padding-right: 0;
}

/*********************************
10. Counter
*********************************/

.counter
{
	width: 100%;
	background: #FFFFFF;
	z-index: 2;
}
.counter_background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.counter_content
{
	padding-top: 119px;
	padding-bottom: 125px;
}
.counter_title
{
	font-family: 'Roboto Slab', serif;
	color: #FFFFFF;
	font-weight: 700;
}
.counter_text
{
	margin-top: 19px;
}
.counter_text p
{
	color: #FFFFFF;
}
.milestones
{
	margin-top: 39px;
}
.milestone
{
	text-align: center;
}
.milestone:not(:last-child)::after
{
	display: block;
	position: absolute;
	top: 0;
	right: -45px;
	width: 1px;
	height: 70px;
	background: rgba(255,255,255,0.2);
	content: '';
	-webkit-transform: rotate(30deg);
	-moz-transform: rotate(30deg);
	-ms-transform: rotate(30deg);
	-o-transform: rotate(30deg);
	transform: rotate(30deg);

}
.milestone_counter
{
	font-size: 42px;
	font-weight: 700;
	line-height: 0.75;
	color: #14bdee;
}
.milestone_text
{
	font-size: 16px;
	font-weight: 400;
	color: #FFFFFF;
	text-transform: uppercase;
	margin-top: 14px;
}
.counter_form
{
	position: absolute;
	top: 0;
	right: 30px;
	width: 380px;
	height: 100%;
	background: #FFFFFF;
	padding-left: 40px;
	padding-right: 40px;
	box-shadow: 0px 5px 40px rgba(29,34,47,0.15);
}
.counter_form_content
{
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
}
.counter_form_title
{
	font-family: 'Roboto Slab', serif;
	font-size: 24px;
	font-weight: 700;
	color: #384158;
	text-transform: uppercase;
	line-height: 0.75;
	margin-bottom: 41px;
}
.counter_input
{
	width: 100%;
	height: 46px;
	border: solid 1px #e5e5e5;
	border-radius: 3px;
	padding-left: 20px;
	outline: none;
	color: #384158;
	font-size: 14px;
}
.counter_input:not(:last-child)
{
	margin-bottom: 10px;
}
.counter_text_input
{
	height: 90px;
	padding-top: 10px;
}
.counter_options
{
	position: relative;
	-webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
	-webkit-user-select: none;
	background-position: center right;
	background-repeat: no-repeat;
}
.counter_input::-webkit-input-placeholder,
.counter_text_input::-webkit-input-placeholder
{
	font-size: 14px !important;
	font-weight: 400 !important;
	color: #b5b8be !important;
}
.counter_input:-moz-placeholder,
.counter_text_input:-moz-placeholder
{
	font-size: 14px !important;
	font-weight: 400 !important;
	color: #b5b8be !important;
}
.counter_input::-moz-placeholder,
.counter_text_input::-moz-placeholder
{
	font-size: 14px !important;
	font-weight: 400 !important;
	color: #b5b8be !important;
} 
.counter_input:-ms-input-placeholder,
.counter_text_input:-ms-input-placeholder
{ 
	font-size: 14px !important;
	font-weight: 400 !important;
	color: #b5b8be !important;
}
.counter_input::input-placeholder,
.counter_text_input::input-placeholder
{
	font-size: 14px !important;
	font-weight: 400 !important;
	color: #b5b8be !important;
}
.counter_form_button
{
	width: 100%;
	height: 46px;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
	border: none;
	outline: none;
	background: #14bdee;
	cursor: pointer;
	margin-top: 30px;
	box-shadow: 0px 5px 40px rgba(29,34,47,0.15);
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.counter_form_button:hover
{
	box-shadow: 0px 5px 40px rgba(29,34,47,0.45);
}

/*********************************
11. Partners
*********************************/

.partners
{
	width: 100%;
	background: #FFFFFF;
}
.partners_slider_container
{
	width: calc(100% + 100px);
	left: -50px;
}
.partners_slider
{
	height: 132px;
}
.partner_item
{
	height: 100%;
	cursor: pointer;
}
.partner_item img
{
	position: relative;
	width: 110px !important;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-filter: grayscale(100%);
  	filter: grayscale(100%);
  	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.partner_item:hover img
{
	-webkit-filter: grayscale(0%);
  	filter: grayscale(0%);
}

.section-top-border {
    padding: 50px 0;
    border-top: 1px dotted #eee; }

    /*============== Elements Area css ================*/
.mb-20 {
    margin-bottom: 20px; }
  
  .mb-30 {
    margin-bottom: 30px; }
  
  .sample-text-area {
    padding: 100px 0px; }
    .sample-text-area .title_color {
      margin-bottom: 30px; }
    .sample-text-area p {
      line-height: 26px; }
      .sample-text-area p b {
        font-weight: bold;
        color: #4dbf1c; }
      .sample-text-area p i {
        color: #4dbf1c;
        font-style: italic; }
      .sample-text-area p sup {
        color: #4dbf1c;
        font-style: italic; }
      .sample-text-area p sub {
        color: #4dbf1c;
        font-style: italic; }
      .sample-text-area p del {
        color: #4dbf1c; }
      .sample-text-area p u {
        color: #4dbf1c; }
  
  /*============== End Elements Area css ================*/

    /* Team Area css
============================================================================================ */
.team_area {
    background: #f9f9ff; }
  
  .team_inner {
    margin-bottom: -30px; }
  
  .team_item {
    position: relative;
    text-align: center;
    margin-bottom: 30px; }
    .team_item .team_img {
      position: relative; }
      .team_item .team_img img {
        width: 100%; }
      .team_item .team_img:before {
        content: "";
        background: rgba(255, 255, 255, 0.65);
        position: absolute;
        left: 0px;
        top: 0px;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: all 300ms ease;
        border-radius: 50%; }
      .team_item .team_img .hover {
        position: absolute;
        left: 0px;
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        opacity: 0;
        transition: all 300ms linear 0s; }
        .team_item .team_img .hover a {
          font-size: 14px;
          color: #777777;
          margin-right: 20px;
          transition: all 300ms linear 0s; }
          .team_item .team_img .hover a:last-child {
            margin-right: 0px; }
          .team_item .team_img .hover a:hover {
            color: #4dbf1c; }
    .team_item .team_name {
      text-align: center;
      margin-top: 30px; }
      .team_item .team_name h4 {
        margin-bottom: 5px;
        color: #222222;
        font-family: "Playfair Display", serif;
        font-weight: bold;
        font-size: 18px;
        transition: all 300ms linear 0s; }
      .team_item .team_name p {
        font-size: 14px;
        font-family: "Roboto", sans-serif;
        color: #777777;
        margin-bottom: 0px; }
    .team_item:hover .team_img:before {
      opacity: 1; }
    .team_item:hover .team_img .hover {
      opacity: 1; }
    .team_item:hover .team_name h4 {
      color: #4dbf1c; }
  
  /* End Team Area css
  ============================================================================================ */
  .p_120 {
    padding-top: 120px;
    padding-bottom: 120px; }

    /* Main Title Area css
============================================================================================ */
.main_title {
    text-align: center;
    max-width: 680px;
    margin: 0px auto 75px; }
    .main_title h2 {
      font-family: "Playfair Display", serif;
      font-size: 36px;
      color: #222222;
      margin-bottom: 12px; }
    .main_title p {
      font-size: 14px;
      font-family: "Roboto", sans-serif;
      font-weight: normal;
      line-height: 24px;
      color: #777777;
      margin-bottom: 0px; }
  
  /* End Main Title Area css
  ============================================================================================ */