<div class="container">
    <div class="row">
        <div class="col-lg-12 justify-content-center">
            <h1 style="text-align: center; background-color: rgb(69, 187, 216);">About Us</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="section_title_container text-center" class="main_title">
                <div>
                    <h1 class="feature_title">We Make College More Affordable,<br>We Make The Dream More Achievable.
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div class="section-top-border">
        <h3> <b>DIRECTOR MESSAGE</b></h3>
        <div class="row">
            <div class="col-md-3">
                <img [src]="images[1]" alt="" class="img-fluid">
            </div>
            <div class="col-md-9 mt-sm-20 left-align-p">
                <p style="font-size: 1vmax;font-family:Georgia, 'Times New Roman', Times, serif;">"EDUCATION IS THE MOST POWERFUL WEAPON WHICH YOU CAN USE TO CHANGE THE WORLD"
                    Education is the base for building a good nation and we feel proud to be a contributor towards
                    such a transformational notion.
                    We get encouragement, looking at the bright and successful career of our students, which
                    subsequently benefits the society.
                    Not long ago education merely meant the transfer of knowledge from the teacher to the taught.
                    Today education is much more than that. this is why Alpine College of Education since its
                    inception has been striving hard to impart the requisite knowledge and inculcate a new set of
                    skills and attitude in our student.
                    i wish a very successful carrer ahead to all the student of Alpine College of Education and feel
                    confident that they will make significant contribution to the organization they join in future.
                    Faith is the strength by which a shattered world shall emerge into the light.<br>
                    All the best! </p>


                <p class="text-left"><b> Mrs. Suman Somal

                        M.A., B.ED.
                        Special course:-MONTESSORI TEACHING METHOD. </b></p>
            </div>

        </div>
    </div>
    <div class="section-top-border text-right">
        <h3><b>PRINCIPLE MESSAGE</b></h3>
        <div class="row">
            <div class="col-md-9">
                <p class="text-right" style="font-size: 1vmax;font-family: Georgia, 'Times New Roman', Times, serif;">Life is full of efforts. to effort for something is the best key for success.
                    and success is the only fruit which can lead us to the path of Peace
                    , happiness and prosperity. Effort is such a task which endows self contentment by polishing our
                    personality.
                    so to achieve success in life, some basic needs are required like knowledge, wisdom, patience,
                    self confidence,
                    mutual understanding and target. if a person follows the path with all the…….

                    :The roots of education are bitter, but the fruit is sweet."

                </p>
                <p class="text-right"><b> Dr. Amitesh Kumar Sharma

                        M.B.A., M.A., B.Ed., M.Phil, Ph.D.</b></p>
            </div>
            <div class="col-md-3">
                <img [src]="images[0]" alt="" class="img-fluid">
            </div>
        </div>
    </div>
    <div class="row about_row">
        <!-- About Item -->
        <div class="col-lg-4 about_col about_col_middle">
            <div class="about_item">
                <div class="about_item_image"><img height="100%" width="100%" [src]="images[10]" alt=""></div>
                <div class="about_item_title"><a href="#">Our Mission</a></div>
                <div class="about_item_text">
                    <p style="font-size: 1vmax;font-family:Georgia, 'Times New Roman', Times, serif;"><b>Alpine group runs Alpine College of Education is one of the premier colleges of education.
                            It was established by eminent visionaries in 2011 to provide value driven education of
                            global dimension. Alpine College of Education with its strong and efficient team
                            incessantly had been working since then to achieve a goal of imparting quality education.
                            It started as a sapling with a few tender branches</b></p>
                </div>
            </div>
        </div>
        <!-- About Item -->
        <div class="col-lg-4 about_col about_col_middle">
            <div class="about_item">
                <div class="about_item_image"><img height="100%" width="100%" [src]="images[11]" alt=""></div>
                <div class="about_item_title"><a href="#">Our Mission</a></div>
                <div class="about_item_text">
                    <p style="font-size: 1vmax;font-family:Georgia, 'Times New Roman', Times, serif;"><b>The mission of Alpine College of Education is to provide its students with
                            the best professional Carrere prospects in emerging global workplace and
                            to equip them for more effective and organised contribution in their chosen
                            professional field.
                            Alpine Management gives Special Scholarship to Meritorious Students.</b></p>
                </div>
            </div>
        </div>

        <!-- About Item -->
        <div class="col-lg-4 about_col about_col_right">
            <div class="about_item">
                <div class="about_item_image"><img height="100%" width="100%" [src]="images[12]" alt=""></div>
                <div class="about_item_title"><a href="#">Our Vision</a></div>
                <div class="about_item_text">
                    <p style="font-size: 1vmax;font-family:Georgia, 'Times New Roman', Times, serif;"><b>Our vision is To enhance the educational system and No single youth is un-educational and
                            Unemployed </b></p>
                </div>
            </div>
        </div>

    </div>

    <!--================Team Area =================-->
    <section class="team_area p_120">
        <div class="container">
            <div class="main_title">
                <h2>Meet Our Faculty Members</h2>
                <p style="font-size: 1vmax;font-family:fantasy;"><b>Top Class Faculty in Alpine College of Education more than 70% Faculty are post graduated and
                        well expierence provides to the students </b></p>
            </div>
            <div class="row team_inner">
                <div class="col-lg-3 col-sm-6">
                    <div class="team_item">
                        <div class="team_img">
                            <img class="rounded-circle" [src]="images[6]" alt="">

                        </div>
                        <div class="team_name">
                            <h4> Mr.Sachin</h4>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="team_item">
                        <div class="team_img">
                            <img class="rounded-circle" [src]="images[9]" alt="">

                        </div>
                        <div class="team_name">
                            <h4>Ms.Vidhi</h4>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="team_item">
                        <div class="team_img">
                            <img class="rounded-circle" [src]="images[7]" alt="">

                        </div>
                        <div class="team_name">
                            <h4>Mr.Sachin Rana </h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="team_item">
                        <div class="team_img">
                            <img class="rounded-circle" [src]="images[8]" alt="">

                        </div>
                        <div class="team_name">
                            <h4>Ms.Vandana sharma</h4>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="team_item">
                        <div class="team_img">
                            <img class="rounded-circle" [src]="images[2]" alt="">

                        </div>
                        <div class="team_name">
                            <h4>Mrs.boby</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="team_item">
                        <div class="team_img">
                            <img class="rounded-circle" [src]="images[4]" alt="">

                        </div>
                        <div class="team_name">
                            <h4>Ms.Himanshi</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="team_item">
                        <div class="team_img">
                            <img class="rounded-circle" [src]="images[5]" alt="">

                        </div>
                        <div class="team_name">
                            <h4>Mr.Navneet Singh</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="team_item">
                        <div class="team_img">
                            <img class="rounded-circle" [src]="images[3]" alt="">

                        </div>
                        <div class="team_name">
                            <h4>Ms.Chinki</h4>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Team Area =================-->
</div>
