{% load static %}
<html>
<head>
    
    <script type="text/javascript">
        window.history.forward();
        function noBack() {
            window.history.forward();
        }
    </script>
</head>
    <body onload="noBack();" onpageshow="if (event.persisted) noBack();" onunload="">

 
        <p><center>
            <img src="{% static 'quiz/img4.jpeg' %}" width="380" height="380" alt="pic of Friends"/></center>
        </p>
        <h2>{{ ques.3 }}</h2>
        <ul>
            <form action="{% url 'quiz-e4' %}" method="POST">
                {% csrf_token %}
                <input type="radio" name ="q1a1" value="{{ ques.3.optiona }} " class="multiple" checked=”checked”>{{ ques.3.optiona }} 
                <br>
                <input type="radio" name="q1a1" value="{{ ques.3.optionb }} " class="multiple">{{ ques.3.optionb }}   
                <br>
                <input type="radio" name="q1a1" value="{{ ques.3.optionc }} " class="multiple">{{ ques.3.optionc }}  
                <br>
                <input type="radio" name="q1a1" value="{{ ques.3.optiond }} " class="multiple">{{ ques.3.optiond }}  
                <br>
                <input type="submit" name="q1a1" value="go to the next question">
            </form>
    
        </ul>
        <script type="text/javascript">
            function checkOnlyOne(b){

        var x = document.getElementsByClassName('multiple');
var i;

for (i = 0; i < x.length; i++) {
  if(x[i].value != b) x[i].checked = false;
}
}
        </script>


        
    </body>
</html>