@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');


#root{
    margin: 0;
    padding: 0;
    justify-content: center;
    justify-items: center;
    background-color: #8EC5FC;
background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);


    height: 100vh;
}

.heading{
    font-family: 'Balsamiq Sans', cursive;
    font-weight: 600;
    color: rgba(0, 0, 255, 0.623);
    padding: 1vh;
    justify-content: center;
    text-align: center;
}