@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  box-sizing: border-box;
  font-size: 17px;
}

body {
  background-color: #16212B;
}

body::-webkit-scrollbar {
  appearance: none;
  background-color: #16212B;
}

body::-webkit-scrollbar-thumb {
  appearance: none;
  background-color:#90FF8D;
  border-radius: 3px;
}

.headerBand {
  position: fixed;
  background-color: #16212B;
  width: 100%;
  height: 133px;
}

.header {
  color: #90FF8D;
  margin: auto;
  text-align: center;
  position: fixed;
  top: 10px;
  right: 0;left: 0;
  font-size: 40px;
}

.inputField {
  position: fixed;
  margin: auto;
  right: 0;left: 0; 
  top: 80px;
  border-radius: 7px;
  width: calc(100% - 50px);
  max-width: 460px;
  display: grid;
  grid-template-columns: 95% 5%;
  background-color: #90FF8D;
  padding: 15px 20px;
}

.inputField input {
  background-color: transparent;
  border: 0;
  outline: 0;
  margin: auto;
  font-weight: 700;
  color: #16212B;
  height: 100%;width: 100%;
}

.inputField input::placeholder {
  color: #16212B;
}

.inputField img {
  margin: auto;
  cursor: pointer;
}

.todoContainer {
  position: absolute;
  height: calc(100% - 150px);
  width: calc(100% - 50px);
  max-width: 460px;
  margin: auto;
  right: 0;left: 0;
  top: 150px;
  z-index: -1;
}

.todoBlock {
  position: relative;
  width: 100%;
  background-color: #24313F;
  color: #90FF8D;
  border-radius: 7px;
  margin: 10px 0 20px 0;
  cursor: pointer;
}

.todoBlock .tickBtn{
  position: absolute;
  margin: auto;
  top: 0;bottom: 0;left: 15px; 
}

.todoBlock .deleteBtn {
  position: absolute;
  margin: auto;
  top: 0;bottom: 0;right: 15px;
  z-index:2;
}

.todoBlock div{
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
  padding: 20px 50px 20px 50px;
  user-select: none;
}