<br>
<div class="container-fluid" style="background-color: #14bdee;">

  <br>
  <div class="row">
    <div class="col-lg-6 col-sm-12 col-md-6 d-flex">
      <a href="#">
        <img src="../../assets/images/footer/facebook.png">
      </a>&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="#">
         <img src="../../assets/images/footer/twitter.png">
      </a>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <div style="font-family: 'Roboto Slab', serif;color: white;">
        <div>Email Id:- alpinecollege@rediffmail.com</div>
        <div>Office_no:-7500291000</div>
        <div>Jalalabad Delhi- Saharanpur Road (Shamli) 247772</div>
      </div>
    </div>

    <div class="col-lg-6 col-sm-12 col-md-6" style="color: white;">
        <div class="row">
          <button mat-button routerLink='/' routerLinkActive="active">Home</button>
          <button mat-button routerLink='/management' routerLinkActive="active">Management</button>
          <button mat-button routerLink='/courses' routerLinkActive="active">Courses</button>
          <button mat-button routerLink='/gallery' routerLinkActive="active">Gallery</button>
          <button mat-button routerLink='/feedback' routerLinkActive="active">Feedback</button>
          <button mat-button routerLink='/aboutus' routerLinkActive="active">About Us</button>
          <button mat-button routerLink='/contactus' routerLinkActive="active">Contact Us</button>
          <button mat-button routerLink='/faq' routerLinkActive="active">FAQ</button>
          <button mat-button routerLink='/credits' routerLinkActive="active">Credits</button>
      </div>
    </div>

  </div>
  <br>

</div>
