body{
    height: 100vh;
    background-image: linear-gradient(rgb(255,255,255),rgb(109,39,239));
} 

.logo{
    display: block;
    margin:auto;
    width: 50px;
    height: 50px;

}

h1{
    margin-top: 11px;
    font-size: 30px;
    font-family: 'Segoe UI','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}



.container{
    max-width: 950px;
    border: 2px solid red;
    background-color: royalblue;
    margin: auto;
    height: 60vh;
    padding: 33px;
    overflow-y: auto;
    margin-bottom: 25px;
    border-radius: 13px;
}

.message{
    background-color: greenyellow;
    width: 24%;
    padding: 10px;
    margin: 17px 12px;
    border: 2px solid blue;
    border-radius: 10px;
}

.left{
    float: left;
    clear: both;
}

.right{
    float: right;
    clear:both;
}

#send-container{
    display: block;
    margin: auto;
    text-align: center;
    max-width: 1085px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#messageInp{
    width: 80%;
    border: 2px solid black;
    border-radius: 6px;
    height: 34px;
    font-size: 22px;
}

.btn{
    width: 9%;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 6px;
    height: 33px;
}



