
.center {
    display: flex;
    justify-content: center;
  }
  .mat-card{
   /* box-shadow: 5px 10px;
    border-radius: 30px ;
    border: 2px solid #123cdf;*/
    width: 100%;
    margin: 10px;
    border-radius: 30px;
     }
   