html {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #45badd;
}

.container {
  height: 100vh;
  width: 100vw;
  background: url(../assets/robot.gif);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  button {
    cursor: pointer;
    outline: none;
    width: 200px;
    height: 50px;
    font-family: "Courier New", Courier, monospace;
    font-size: 20px;
    color: white;
    background: #ff3482;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 20px 10px rgba(0, 0, 0, 0.2);

    &:hover {
      filter: brightness(95%);
    }

    &:active {
      transform: scale(0.98);
    }

    &:disabled {
      cursor: default;
      filter: brightness(30%);
    }
  }
}

// Media Query for Tablets and Smartphones
@media screen and (max-width: 1000px) {
  .container {
    background-position: center center;
    background-size: cover;
  }

  button {
    box-shadow: 5px 5px 30px 20px rgba(0, 0, 0, 0.5);
  }
}
