<div class="container">
  <div class="row">
    <div class="col-lg-12 justify-content-center">
        <h1 style="text-align: center; background-color: rgb(69, 187, 216);">Admission</h1>
    </div>
</div>
  <h1 class="font_style">ADMISSION RULES AND REGULATIONS</h1>



  <!--Section Start-->
  <mat-accordion>

    <!--Expension Panel Start-->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          ELIGIBILITY CONDITIONS
        </mat-panel-title>
        
      </mat-expansion-panel-header>
      <h2>1. You give to admission degree in base on 12th passed with 55 percent.</h2>
      <h2>2. Minimum 50% overall average</h2>
      <h2>3. You have passed the 12th class to anyone steam like that art,biology,maths,commerce. </h2>
      <h2>4. Apply for Scholarships and Other Financial Aid. ...</h2>

    </mat-expansion-panel>
  </mat-accordion>
  <!--Section End-->


  <!--Section Start-->
  <mat-accordion>


    <!--Expension Panel Start-->

    <!--Expension Panel Start-->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          DOCUMENT REQUIREMENT PROCESS
        </mat-panel-title>
       
      </mat-expansion-panel-header>

      <h2> 1. High School Mark sheet:- 2 Set Photocopy </h2>

      <h2> 2. Intermediate Mark sheet 2 Set Photocopy</h2>

      <h2> 3. Transfer Certificate Original + 1 Set Photocopy</h2>

      <h2> 4. Migration Certificate (Other than UP Board) Original + 1 Set Photocopy</h2>

      <h2> 5. Affidavit if there is any gap in study (on Rs. 10/- Non-Judicial stamp paper duly
        notarized) Original + 1 Set Photocopy</h2>

      <h2> 6. Category certificate such as OBC*/SC/ST, if applicable:- 2 Set Photocopyz</h2>

      <h2> 7. Aadhar Card Candidate:- 2 Set Photocopy</h2>

      <h2> 8. Character Certificate:- orignal Proof of residence
        Father/Mother (Voter ID card, Electricity bill, Aadhaar Card):- 1 Set Photocopy</h2>

    </mat-expansion-panel>
  </mat-accordion>
  <!--Section End-->


  <!--Section Start-->
  <mat-accordion>

    <!--Expension Panel Start-->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          ADMISSION PROCEDURE
        </mat-panel-title>
       
      </mat-expansion-panel-header>
      <div class="tab_panel_text">
        <h2>It is that time of the year when all the young
          school pass-outs are looking for a suitable course
          and an apt college which will assist them in making
          their career aspirations come true, and Alpine Group of College reputably fulfils this requirement.</h2>
      </div>



    </mat-expansion-panel>
  </mat-accordion>
  <!--Section End-->

  <!--Section Start-->
  <mat-accordion>


    <!--Expension Panel Start-->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          REGISTRATION PROCESS
        </mat-panel-title>
      
      </mat-expansion-panel-header>

      <h2>Two ways of Registration Process First online Process and Direct Admission.</h2>
      <h2> Online Registration to going on website of alpine college of Education.</h2>
      <h2> Do you went Direct admission to contect her Principal of Alpine college Dr.Amitesh Bhardwaj.</h2>
    </mat-expansion-panel>
    <!--Expension Panel Start-->
  </mat-accordion>
  <!--Section End-->

</div>