{% extends 'base/base.html' %}
{% block meta_tags %}
  <meta name="robots" content="nofollow">
{% endblock meta_tags %}
{% block content %}
    <div class="row">
      <div class="col s12">
        <div class="container">
            <div class="container">
          <form method="post" novalidate class="form-password">
            {% csrf_token %}
            <h2 class="center">Tienes problemas para iniciar sesión </h2>
            
            <h5>
                Ingresa tu correo electrónico
            </h5>
              {{ form }}
              <input type="hidden" name="next" value="{{ next }}"/>
                <button type="submit" class="waves-effect waves-light btn">
                  Recuperar
                </button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}