<!DOCTYPE html>
<html>
<head>
	<title>File Upload</title>
</head>
<body style="background-color:violet;">
	<h1 style="text-align:center;color: blue;font-size: 90px;padding-bottom: 20px;">Image Comparison using Longest Common Subsequence</h1>
	<blink><p style="text-align:center;color: black;font-size: 50px;padding-bottom: 20px;">Select and upload the two images you want to compare!!!!!</p></blink>
	<div style="display: flex;text-align:center">
	<FORM Method="post" Action="." enctype="multipart/form-data">
    	<lable style="margin-left: 140px;font-size: 30px;">Select File 1</label>
		<Input style="text-align:center;color: blue;font-size: 30px;" Type="File" accept="image/*" name="imagefile1"></Input>
		<lable style="margin-left: -80px;">Select File 2</label>
		<Input style="text-align:center;color: blue;font-size: 30px;" Type="File" accept="image/*" name="imagefile2"></Input>
		<br>
		<input style="text-align:center;background-color:green;color:white;font-size: 40px;margin-left: -40px;margin-top: 50px;" type="submit" value="Upload"></input>
	</FORM>
</div>
</body>
</html>