*{
  margin: 0px;
  background-origin: padding-box;
 
}

body
{
  background-color: #f1f1f1;
}

.column_style
{
  text-align:center;
  
}

.zoom
{
  margin: 1px 5px 1px 5px;
  transition-duration: 200ms;
}

.navbar
{
  background-color: #8d8d8d3a;

}

.nav_title
{
  border: 2px solid;
  border-radius: 40px;
  padding: 5px 50px 5px 50px;
  margin: 2px 50px 2px 2px;
  background-color: rgba(0, 0, 0, 0.637);
  font-weight: bolder;
}

.nav_item
{
  font-size: 2.2vmin;
  font-weight: bold;
}

.card
{
  width: 100%;
  margin-bottom: 40px;
  border-radius: 50px;
  
}

.card img
{
  border-radius: 50px;
}

.card a
{
  text-align: center;
}

.heading
{
 
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  
}
.heading h5
{
  color: #db9731;

}

.heading_card
{
  background-color: rgba(0, 0, 0, 0.459);
  border: 2px solid;
}

.main_btn
{
  
  border-radius: 100%;
}

.carousel-inner
  {
    height: 100vh;
  }

  .carousel-inner img
  {
    height: 100vh;
    object-fit: cover;
  }

  .main_swiper
  {
    padding: 10px;
    width: 100%;
    position: absolute;
    top: 10vh;
    text-align: center;
    z-index: 10;
  
    
  }
  
  
  
  .jumbotron
  {
    min-height: 85vh;
    border-radius: 40px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(214, 214, 214);
  }

  .icons
  {
    top: 80px;
    right: 0px;
    z-index: 100;
  }

  .icons a
  {
    margin: 10px;
    padding: 8px 12px 8px 12px;
    font-size: 25px;
    background-color: white;
    color: rgb(41, 41, 41);
    border-radius: 100%;
    
  }

  .loading img
  {
    padding: 10px;
    border-radius: 50px;
    width: 100%;
    
  }

  .loading_contest
  {
    width: 100%;
  }

  .condition1
  {
    display: none;
  }

  .condition2
  {
    display: block;
  }

  .admin_icon
  {
    border-radius: 100%;
    padding: 20px 20px 20px 20px;
    background-color: white;
    
  }
  

@media only screen and (min-width: 1000px) {

  .zoom:hover {
    transform: scale(1.2); 
    transition-duration: 200ms;
  }

  .heading
  {
    width: 70%;
    top:30vh;
  }

  .heading h1
  {
    font-size: 70px;
    font-weight: 900;
  }

  .heading h5
  {
    font-size: 50px;
    font-weight: 700;
  }

  .main_btn
  {
    font-size: 70px;
    padding: 30px 55px 30px 55px;
    transition-duration: 200ms;
  }

  .main_btn1
  {
    border-radius: 100%;
    font-size: 60px;
    padding: 10px 25px 10px 25px;
    transition-duration: 200ms;
  }

  
  
  .main_btn1:hover
  {
    
    background-color: #1d1d1d;
    color: #db9731;
    transition-duration: 200ms;
  }

  .main_btn:hover
  {
    background-color: #1d1d1d;
    color: #db9731;
    transition-duration: 200ms;
  }

  .carousel-inner
  {
    height: 100vh
  }

  .main_swiper img
  {
    width: 10%;
  }
   
  .icon_a
  {
    transition-duration: 200ms;
  }
  .icon_a:hover
  {

    background-color: #1d1d1d;
    color: #db9731;
    transition-duration: 200ms;
    
  }

  .loading_contest img
  {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 50px;
  }


  


 
}

@media only screen and (max-width: 1000px) {
   
  .heading
  {
    width: 80%;
    top:35vh;
  }
  .heading h1
  {
    font-size: 20px;
  }

  .heading h5
  {
    font-size: 15px;
  }

  .main_swiper img
  {
    width: 30%;
  }
  
  .icons a
  {
    margin: 7px;
    padding: 4px 6px 4px 6px;
    font-size: 13px;
    background-color: white;
    color: rgb(41, 41, 41);
    border-radius: 100%;
    object-fit: cover;
  }

  .loading_contest img
  {
    height: 90vh;
    width: 100vw;
    object-fit: cover;
    border-radius: 50px;

   
  }

  .main_btn
  {
    font-size: 50px;
    padding: 1px 20px 1px 20px ;
    margin: 10px;
  }

  .main_btn1
  {
    display: none;
  }

  .admin_icon
  {
    border-radius: 100%;
    padding: 10px 10px 10px 10px;
    background-color: white;
  }
  

}



