<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Document</title>
</head>
<body>
    <div class="card-wrapper">
        <div class="card">
            <h1 class="center">Login</h1>
            <form name="signup_form" method="POST">
                <label for="email">Email</label>
                <input type="text" name="email" class="field" required>
                <label for="password">Password</label>
                <input type="text" name="password" class="field" required>

                <p class="error error--hidden"></p>
                <input type="submit" value="Sign In" class="btn">
            </form>
        </div>
    </div>
    
    <!-- <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/scripts.js"></script> -->

</body>
</html>