{% extends 'base/base.html' %}
{% load static %}
{% block content %}
<div class="row cotainer">
    <div class="container">
    <h2 class="center" data-aos="fade-up">Cambiar contraseña</h2>
    <br>
    <div class="col s12 m6">
        <form method="post" class="container">
                {% csrf_token %}
            <div class="input-field">
                <label for="id_old_password" class="active">Contaseña antigua:</label>
                {{ form.old_password }}
                {% for error in form.old_password.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="input-field">
                    <label for="id_new_password1" class="active">Contaseña nueva:</label>
                    {{ form.new_password1 }}
                    {% for error in form.new_password1.errors %}
                    <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="input-field">
                        <label for="id_new_password2" class="active">Confirmacion contraseña nueva:</label>
                        {{ form.new_password2 }}
                        {% for error in form.new_password2.errors %}
                        <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </div>
            <p>{{ form.new_password1.help_text }}</p>
            <button type="submit" class="waves-effect waves-light btn">Guardar cambios</button>
        </form>
    </div>
    <div class="col s12 m6">
        <i class="large material-icons" style="font-size: 300px;">lock</i>
    </div>
</div>
</div>


{% endblock %}