{% extends 'base/base.html' %}
{% load static %}
{% block content %}
<div class="row sidenav-margin">
    <div class="container">
        <div class="col s12">
            <div class="flex">
                <h2 class="center" data-aos="fade-up">Conversaciones generadas con bot</h2>
                <div class="block text-right margin_base">
                </div>
            </div>
            <div class="form-container">
                <form action="{% url 'dashboard:searchConversacion' %}" method="post">
                    {% csrf_token %}
                    <div class=" col s1">
                        <p><i class="small material-icons">search</i></p>
                    </div>
                    <div class="search col s11">
                        <input id="campo" required="required" name="campo" aria-invalid="false"
                            placeholder="Formato de la fecha: dd/mm/aa" type="text" value="">
                    </div>
                    <input type="submit" style="position: absolute; left: -9999px" />
                    {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                            {% endfor %}
                    </ul>
                    {% endif %}
                </form>
                <table class="highlight">
                    <thead>
                        <tr>
                            <th></th>
                            <th style="text-align: center;">Problema solucionado</th>
                            <th style="text-align: center;">Fecha</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for conversacion in conversaciones%}
                            <tr>
                                <th style="text-align: center;"><i class="material-icons">assignment</i></th>
                                <th style="text-align: center;">{% if conversacion.solucionado %}<i class="small material-icons">check</i>{% else %}<i class="small material-icons">close</i>{% endif %}</th>
                                <th style="text-align: center;">{{ conversacion.create }}</th>
                                <th><a class="waves-effect waves-light btn" href="{% url 'dashboard:conversacion' identificador=conversacion.enviadopor %}" >Ver</a></th>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% if conversaciones.has_other_pages %}
            <div class="pagination center">
                <span class="page-links">
                    {% if conversaciones.has_previous %}
                    <a href="?page={{ conversaciones.previous_page_number }}"><i
                            class="material-icons ">keyboard_arrow_left</i></a>
                    {% endif %}
                    <span class="page-current">
                        Pagina {{ conversaciones.number }} de {{ conversaciones.paginator.num_pages }}.
                    </span>
                    {% if conversaciones.has_next %}
                    <a href="?page={{ conversaciones.next_page_number }}"> <i
                            class="material-icons ">keyboard_arrow_right</i></a>
                    {% endif %}
                </span>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}