
/* Quick links */

.quicklinks {	
	margin: 0 auto;	
}

.infoboxes {
	margin-bottom: 20px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.infoboxes a {
	margin-bottom: 15px;
}

/* Quick Links end */


/* Activities Section */

#activities, #mythbusters{
	font-family: 'Roboto', sans-serif;
	font-size: 40px;
	font-weight: bold;
	vertical-align: baseline;
	text-decoration: none;
	color: #6c6c6c;
}

.Activity {
  float: left;
  width: 25%;
  padding: 15px;
  padding-top: 0px;
  padding-bottom: 25px;
  transition: transform 0.5s ease-in-out;
}

.Activity:hover {
  transform: scale(1.05);
  
}

/* Activities Section end */

/* Myths Section */

.Myth {
  float: left;
  width: 33%;
  padding: 15px 35px 0 0;
  transition: transform .8s ease-in-out;
}

.Myth:hover{
  transform: scale(1.03);
}

.content::after {
  content: "";
  clear: both;
  display: table;
}

/* Myths Section end */