    * {
        margin: 0px;
        font-family: 'Roboto', sans-serif;
        padding: 0px;
        
      }
      body {
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
      }

      .data {
        height: 600px;
        width: 80%;
        background-color: lightgray;
        margin-left: 10%;
        margin-top: 50px;
        padding: 20px;
        display: inline-block;
        background-color: lightcyan;
      }

      .table {
        width: 100%;
        margin-top: 20px;
        font-family: calibri; 
        background-color: lightblue;

      }
      th,
      td {
        height: 40px;
        text-align: center;
        padding: 5px;
      }

      input {
        height: 40px;
        text-indent: 20px;
      }

      button {
        padding: 10px;
        
        
      }
      button:hover {
        transform: scale(1.1);
        transition: 1s;
      }

      .search{
        padding: 10px;
      }
    input {
      width: 17rem;
    }

   