.list-container{
    justify-content: center;
    justify-items: center;
    background-color: white;
    overflow: auto;
    display: flex;
    height: calc(80vh );
    border-radius: 20px ;
}
.table{
    width: auto;
    margin: 0;
    padding: 0;
}