body{
  display: flex;
    margin: 0;
    padding: 0;
    width: 100vh;
    height: 100vh;
}

.paint-name{
    display: flex;
    width: 100%;
    padding: 20px;
    border: none;
    outline-width: none;
    font-size: 30px;
}
.paint-name:focus{
    outline: none;
    border-bottom: 2px solid green;
}

.color-picker {
    border: none;
  }
  .color-picker input {
    opacity: 0;
     position: absolute;
  }
  .color-picker span {
    content: '';
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    margin: 5px 15px;
    border-radius: 50%;
    
    box-shadow: 0px 0px 2px 0px;
    border: 1px solid whitesmoke;
    transition: 0.3s;
  }
  .color-picker label {
    cursor: pointer;
  }
  .color-picker label:hover span {
    transform: rotate(45deg);
  }
  .color-picker input:checked + span {
    transform: scale(1.5);
  }
  
  canvas {
    position: relative;
    display: 80vh;
    cursor: crosshair;
  }
  