.footer{
  background-color:var(--primary);
  color: var(--black-ft);
  width: 100%;
  height: 7rem;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.5rem;
}
.footer_text{
  text-transform: uppercase;
  font-weight: bold;
}