<div class="container">
    <div class="row">
        <div class="col-lg-12 justify-content-center">
            <h1 style="text-align: center; background-color: rgb(69, 187, 216);">FAQ (Frequently Ask Question)</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 justify-content-center">
            <mat-accordion>
                <mat-expansion-panel *ngFor="let event of events">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <h2><b><span style="color: maroon;">Question {{event.event_number}} :</span> <span style="color: chocolate">{{event.question}} </span></b></h2>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <h3><b><span style="color: maroon;">Answer {{event.event_number}} :</span><span style="color: chocolate">{{event.answer}}</span></b></h3>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
</div>