.all{
  background-color: #000;
  width: 100vw;
  height: 100vh;
}
.clock {
  width: 60%;
  height: 60%;
  display: flex;
  margin-left: 20%;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: #00f001;
  font-family: "Orbitron", sans-serif;
  font-size: 6rem;
  border-radius: 10%;
  border: #00f001 solid 3px;
}
.timer{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button{
  margin-top: 10px;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input{
  display: flex;
  align-items: center;
}