
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background-color: rgb(0, 0, 0);
    color: beige;
}
.App{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.068);
    padding: 30px;
    width: 300px;
    box-shadow: 0px 0px 4px 0px grey;
}
.header{
    margin-bottom: 20px ;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.balance-div{
    margin-bottom: 20px;
}
.income-expense-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 20px ;
}
.transaction-list{
    margin-bottom: 20px ;    
}
.box{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    width: 45%;
    box-shadow: 0px 0px 4px 0px grey;
}
.transaction-ul{
    position: relative;
    margin: 10px 0;
    text-decoration: none;
    list-style: none;
    width: 100%;
    height: auto;
    min-height: 0px;
    max-height: 100px;
    overflow: auto;
}
.transaction-item{
    position: relative;
    display: flex;
    justify-content: space-between;
    background-color: rgba(128, 128, 128, 0.534);
    padding: 5px 10px;
    margin: 5px 0;
    font-size: 14px;
}
.transaction-btn{
    display: none;
    width: 8%;
    position: absolute;
    right: -10%;
    top: 15%;
    outline: none;
}
.minus{
    border-left: 5px solid rgba(255, 48, 11, 0.678);
}
.plus{
    border-left: 5px solid rgba(112, 255, 112, 0.788);
}
.income{
    color: rgba(112, 255, 112, 0.788);
    font-size: 16px;
    font-weight: 600;
}
.expense{
    color: rgba(255, 48, 11, 0.678);
    font-size: 16px;
    font-weight: 600;
}
.form-label{
    width: 100%;
}
.add-transaction-div{
    display: flex;
    flex-direction: column;
}
.form-control{
    display: flex;
    flex-direction: column;
}
.form-input{
    outline: none;
    border: none;
    margin: 10px 0;
    height: 22px;
    padding: 0 10px;
}
.submit-btn{
    width: 100%;
    height: 22px;
    color: white;
    font-weight: 600;
    background-color: teal;
    outline: none;
    border: none;
    font-size: 14px;
    margin: 5px 0;
}