body
{
  border-style: none;
  border-radius: 0;
}
.nav-head {
  position: relative;
  left: 100px;
  bottom: 30px;
  margin-left: 50px;
  font-family: 'Playfair Display', serif;
}

.jedi-ship {
  position: relative;
  top: 20px;
  margin-left: 30px;
}

p {
  font-family: 'Montserrat Extra-light 200', sans-serif;
}

.navdiv {
  padding-right: 30px;
  background-color: white;
  width: 100%;
  z-index: 2;
}

.dek {
  margin-left: 3px;
  margin-right: 30px;
  font-family: 'Montserrat-Bold 700', sans-serif;
  font-size: 1.2rem;
}

.home-text {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 10%;
  text-align: center;
  margin: 30px;
  padding: 20px;
}



.story-head {
  text-align: center;
  padding: 10% 15%;
  background-color: #e7dfd5;
}

.story-h1 {
  font-size: 3.5rem;
  margin-bottom: 5%;
  font-family: 'Playfair Display', serif;
}

.story-p {
  line-height: 2;
  margin-top: 2%;
  margin-left: 4%;
  margin-right: 4%;
  font-size: 1.25rem;
}

.fe-box {
  text-align: center;
  padding-top: 13%;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 10%;
  margin-right: 3%
}

.feature-boxes {
  margin-top: 10%;
  margin-left: 2%;
  padding-bottom: 6%;
  font-size: 2rem;
}

.features-p {
  margin-top: 5%;
  line-height: 2rem;
  margin-left: 4%;
  margin-right: 4%;
  font-weight: lighter;
  font-size: 1.1rem;
}

.ficons {
  color: #ffb6b9;
}

.ficons:hover {
  color: #e23e57;
}

.inner {
  padding-top: 5%;
  text-align: center;
  background-color: #d4b5b0;
  padding-bottom: 3%;
}

.testimonial-slides {
  padding-left: 6%;
  padding-right: 6%
}

.testimonial-content {
  padding-left: 12%;
  padding-right: 12%;
  line-height: 1.5;
  font-size: 1.4rem;
  font-family: 'Montserrat', sans-serif;
}

.car {
  margin-top: 2%;
  border-radius: 120%;
  margin-bottom: 1%;
}

.names {
  font-size: 1.2rem;
  font-weight: lighter;
}

.contact {
  margin-left: 20%;

  margin-right: 10%;

  background-color: #fff;
}

.con {
  padding-top: 24%;
  font-family: 'Playfair Display', serif;
  font-size: 2rem;
  margin-bottom: 9%;
}

.con1 {
  text-align: left;
  ;
  padding: 7%;
  margin-right: 8%;
  margin-left: 10%;
}

.con2 {


  margin-top: 13%;
}

.info {
  width: 375px;
  line-height: 3;
}

.sub {


  margin-bottom: 6%;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #b83b5e;
}

.smedia {
  margin-right: 10%;
  padding-bottom: 17%
}

.end {
  height: 20px;
  width: 100%;
  background-color: #e7dfd5
}

/* book.html */
.book-head {
  position:relative;
  width: 100%;
  top: 16%;
  height: 300px;
  background-color: #4b5d67;
  color: white;
}

.head-h1 {
  text-align: center;
  position: relative;
  top: 51%;
  font-family: 'Playfair Display', serif;
  font-size: 3rem;
}



.price-tag {
  padding-top: 4%;
  position: relative;
  top: 46%;
  text-align: center;
  width: 100%;
  background-color: #a0c1b8;
  padding-bottom: 3%;
}

.places {
  text-align: center;
  padding-bottom: 4%;
  font-size: 2.3rem;
  font-family: 'Montserrat', sans-serif;
}
.zed
{
  background-color: black;
  color: white
}
.ptags {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;


  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
.copyright
{
  padding-top: 0.5%;
background-color: #e7dfd5;
color: black;
text-align: center;
height:45px;


}
