<!-- *************************   Header Start  ******************************** -->
<div class="Head">
  <app-header></app-header>
</div>
<!-- *************************   Header Close   *************************** -->

<!-- *************************   Body  start  ***************************** -->

<div >
    <router-outlet></router-outlet>
</div>

<!-- *************************   Body Close  ****************************** -->

<!-- *************************   Footer Start   *************************** -->

<app-footer></app-footer>

<!-- *************************   Footer Close   ****************************** -->
