.container{
    height: 300px;
    width: 100%;
    text-align: center;
}

#display{
    width: 100%;
    font-size: 64px;
    margin: 0px auto;
}

#startStop {
    padding: 6px 15px;
    display: inline-block;
    border-radius: 4px;
    text-align: center;
    font-size: 18px;
    margin-right: 10px;
}