{%extends 'layout.html'%}
{%block head%}
    {%if title%}
        <title>Flask Blog - {{title}}</title>
    {%else%}
        <title>Flask Blog</title>    
    {%endif%}    
{%endblock%}    
    

{%block body%}
<div class='content-section'>
    <form action="", method='POST'>
        {{form.hidden_tag()}} <!--Adds a CSRF(Cross sight request forgery) token, helps to prevent forms against forgery attack-->
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">{{legend}}</legend>
            <div class="form-group">
                {{form.title.label(class='form-control-label')}}
                {%if form.title.errors%}
                    {{form.title(class='form-control form-control-lg is-invalid')}}
                    <div class="invalid-feedback">
                        {%for error in form.title.errors%}
                            <span>{{error}}</span>
                        {%endfor%}
                    </div>

                {%else%}   
                    {{form.title(class='form-control form-control-lg')}}
                {%endif%}
                
                {{form.content.label(class='form-control-label')}}
                {%if form.content.errors%}
                    {{form.content(class='form-control form-control-lg is-invalid')}}
                    <div class="invalid-feedback">
                        {%for error in form.content.errors%}
                            <span>{{error}}</span>
                        {%endfor%}
                    </div>

                {%else%}   
                    {{form.content(class='form-control form-control-lg')}}
                {%endif%}
            </div>
        </fieldset>
        <div class="form-group">
            {{form.submit(class='btn btn-outline-success')}}
        </div>
    </form>
</div>
{%endblock%}
