body{
    margin: 0;
    height: 100vh;
    background:#00796B;
}

.circle{
    position: absolute;
    width: 150px;
    height: 150px;
    margin: -75px;
    top: 50%;
    left: 50%;
    border-radius: 80%;

}

#sun{
    background-color:#aaa42c;
    box-shadow: 2px -1px 50px 20px #f5ee56;
}

#moon{
    background:#00060c;
    left: 50%;
}