section{
    width:100%;
    height:100%;
}
.gameboard{
    width:100%;
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    gap:20px;
    padding:1rem;
}
