body{
    margin: 0;
    max-height: 100vh;
    background-color: #261C15;
    font-family: sans-serif;
}
#navbar{
    width: 100%;
    height: 20vh;
    background-color: #341254;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p{
        font-family: 'Roboto Condensed', sans-serif;
        letter-spacing: 2px;
        font-size: x-large;
       
    }
}

#poster{
   color: whitesmoke;
   text-align: center;
    font-size: 20px;
    min-height: 90vh;
    max-width: 100vw;
    border : 3px #CDBAF2 solid;
    

    .parentpanel{
        width: 30%;
        margin: 20px;
        height: 600px;
        overflow: hidden;
        position: relative;
        display: inline-block;
        transition: all 0.3s ease-in;
            
        .panel{
            width: auto;
            height: 100%;
            margin-top: 20px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            transition: all 0.5s ease-in;

            &:hover{
               transform: scale(0.9);
               background-size: cover;
            }
            &:hover a{
                display: block;
            }

            &:hover::before{
                display: block;
                opacity: 1;
                border-radius: 4px;
                box-shadow: 1px 3px 8px 1px black;
               }
            
            a{
                display: none;
                font-size: 30px;
                color: #362b2b !important;
                font-family: 'Roboto Condensed', sans-serif;
                padding-left: 10px;
                padding-right: 10px;
                margin: auto;
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                height: 50px;
                cursor: pointer;
            }
           
          
        }
        ::before{
            content: " ";
            width: 90%;
            height: 80%;
            position: absolute;
            top: 10%;
            left: 5%;
            opacity: 0;
            background-color: rgba(252, 252, 252, 0.75);
            transition: all 0.5s ease-in;
        }
       
     
        @media screen and(max-width:1100px) {
            width: 40%;
            height: 500px;
        }
        
        
        @media screen and(max-width:600px) {
            width: 80%;
            height: 350px;
        }
    }
    
    
}
#character{
    position: relative;
    padding: 7px 15px;
}
/* Add spacing between each country suggestion */
.suggestion {
    padding: 4px 3px;
    background-color: white;

    color: rgb(53, 51, 51);
    
}

/* Change suggestion color when hovering it with the mouse */
.suggestion:hover {
    background-color: #adf;
    cursor: pointer;
}

/* Position the suggestion list just below the input box */
#suggestions {
    position: absolute;
    background-color: white;
    align-items: center;
    top: 75px;
    z-index: 100;
}
#alert{
    color: wheat;
}
