<div class="container">
  <div class="row">
    <div class="col-lg-12 justify-content-center">
        <h1 style="text-align: center; background-color: rgb(69, 187, 216);">Syllabus</h1>
    </div>
</div>
  <h1 class="font_style">Subjects of all Courses</h1>


  <!------////////........Bachelor of Computer Applications........./////////----->

  <mat-tab-group>
    <mat-tab label="BCA">

      <!--Section Start-->
      <mat-accordion>

        <!----1.Expension Panel Start-->
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              First Semester and Courses Code
            </mat-panel-title>

          </mat-expansion-panel-header>
          <h2>B.C.A-101 --------- Mathematics-1</h2>
          <h2>B.C.A-102 --------- Programming Principle & Alogrithm</h2>
          <h2>B.C.A-103 --------- Computer Fundamental and Office Automation</h2>
          <h2>B.C.A-104 --------- Principal Of Management</h2>
          <h2>B.C.A-105 --------- Business Communication</h2>
          <h2>B.C.A-106 --------- Enviromental Studies</h2>
          <h2>B.C.A-107 --------- Computer laboratory and Partical Work Of Computer Fundamental and Office Alogrithm
          </h2>
          <h2>B.C.A-108 --------- Computer laboratory and Partical Work of Programming Principle & Alogrithm</h2>


        </mat-expansion-panel>


        <!--Expension Panel end-->

        <!---2.Expension Panel Start-->
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Second Semester and Courses code
            </mat-panel-title>

          </mat-expansion-panel-header>

          <h2>B.C.A-201 -------- Mathmatices-II</h2>
          <h2>B.C.A-202 -------- C-Programming</h2>
          <h2>B.C.A-203 -------- Organization Behaviour</h2>
          <h2>B.C.A-204 -------- Digital Electronics Computer Organisation</h2>
          <h2>B.C.A-205 -------- Financial Accounting and Management</h2>
          <h2>B.C.A-206 -------- Computer laboratory and Pratical Work of C</h2>

        </mat-expansion-panel>
        <!--Expension Panel end-->

        <!---3.Expension Panel Start-->
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Third Semester and Courses
            </mat-panel-title>

          </mat-expansion-panel-header>
          <h2>B.C.A-301 ------- Object Oriented Programming Using C++</h2>
          <h2>B.C.A-302 ------- Data Structure Using C & C++</h2>
          <h2>B.C.A-303 ------- Computer Architecture & Assembly Language</h2>
          <h2>B.C.A-304 ------- Business Economics</h2>
          <h2>B.C.A-305 ------- Elements Of Statics</h2>
          <h2>B.C.A-306 ------- Computer laboratory and Pratical work of OOPS</h2>
          <h2>B.C.A-307 ------- Computer laboratory and Partical Work of DS</h2>

        </mat-expansion-panel>
        <!--Expension Panel end-->

        <!---4.Expension Panel Start-->
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Fourth Semester and Courses Code
            </mat-panel-title>

          </mat-expansion-panel-header>

          <h2>B.C.A-401 ------- Computer Graphics & Mathmedia Application </h2>
          <h2>B.C.A-402 ------- Operating System</h2>
          <h2>B.C.A-403 ------- Software Engineering</h2>
          <h2>B.C.A-404 ------- Optimization Techniques</h2>
          <h2>B.C.A-405 ------- Partical Based on Subject Code -401 </h2>
          <h2>B.C.A-406 ------- Mathematices-III</h2>


        </mat-expansion-panel>
        <!--Expension Panel end-->


        <!---5.Expension Panel Start-->
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Fifth Semester and Courses Code
            </mat-panel-title>

          </mat-expansion-panel-header>

          <h2>B.C.A-501 ------- Introduction to DBMS </h2>
          <h2>B.C.A-502 -------Java Programming and Dynamic Webpage Design </h2>
          <h2>B.C.A-503 ------- Computer Network</h2>
          <h2>B.C.A-504 ------- Numerical Methods</h2>
          <h2>B.C.A-505 ------- Computer Laboratory and Practical Work of DBMS </h2>
          <h2>B.C.A-506 ------- Computer Laboratory and Practical Work of Java Programming & Dynamic Webpage Design</h2>
          <h2>B.C.A-507 ------- Viva-Voice on Summer Training</h2>
          <h2>B.C.A-508 ------- Minor Project</h2>


        </mat-expansion-panel>
        <!--Expension Panel Start-->

        <!---6.Expension Panel Start-->
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Sixth Semester and Courses Code
            </mat-panel-title>

          </mat-expansion-panel-header>

          <h2>B.C.A-601 ------- Computer Network Security </h2>
          <h2>B.C.A-602 -------Information System: Analysis Design & Implementation </h2>
          <h2>B.C.A-603 ------- E-Commerce</h2>
          <h2>B.C.A-604 ------- Knowledge Management</h2>
          <h2>B.C.A-605 ------- Major Project</h2>
          <h2>B.C.A-606 ------- Presentation/Seminar based on Major Project</h2>

        </mat-expansion-panel><br><br>
        <!--Expension Panel Start-->
<button style="background-color: red;">
        <a href="https://moderncollege.org/Syllabus/BCA.pdf" download="HTML 5 PDF" style="color: rgb(255, 255, 255);font-size: 1vmax;">GET PDF</a>
      </button> </mat-accordion>
      <!--Section End-->



      <!----////////.......Bachelor of Business Administration......////------->

    </mat-tab>
    <mat-tab label="BBA">


      <!--Section Start-->
      <mat-accordion>

        <!---1.Expension Panel Start-->
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              First Semester and Courses
            </mat-panel-title>

          </mat-expansion-panel-header>
          <h2>B.B.A-101 ------- Business Organisation</h2>
          <h2>B.B.A-102 ------- Business Mathematics</h2>
          <h2>B.B.A-103 ------- Principal of Economics</h2>
          <h2>B.B.A-104 ------- Book Keeping and Basic Accounting</h2>
          <h2>B.B.A-105 ------- Business Laws</h2>
          <h2>B.B.A-106 ------- Fundamentals of Management</h2>
          <h2>B.B.A-107 ------- Business Ethics</h2>

        </mat-expansion-panel>
        <!--Expension Panel end-->

        <!----2.Expension Panel Start-->
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Two Semester and Courses Code
            </mat-panel-title>

          </mat-expansion-panel-header>

          <h2>B.B.A-201 ------- Business Enviroment</h2>
          <h2>B.B.A-202 ------- Business Communication</h2>
          <h2>B.B.A-203 ------- Indian Economy</h2>
          <h2>B.B.A-204 ------- Principles of Accounting</h2>
          <h2>B.B.A-205 ------- Organisation Behaviour</h2>
          <h2>B.B.A-206 ------- Business Statistics</h2>


        </mat-expansion-panel>
        <!--Expension Panel end-->

        <!---3.Expension Panel Start-->
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Third Semester and Courses Code
            </mat-panel-title>

          </mat-expansion-panel-header>

          <h2>B.B.A-301 ------- Advertising Management</h2>
          <h2>B.B.A-302 ------- Indian Banking System</h2>
          <h2>B.B.A-303 ------- Human Resource Management</h2>
          <h2>B.B.A-304 ------- Marketing Management</h2>
          <h2>B.B.A-305 ------- Company Accounts</h2>
          <h2>B.B.A-306 ------- Company Law</h2>


        </mat-expansion-panel>
        <!--Expension Panel end-->

        <!---4.Expension Panel Start-->
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Fourth Semester and Courses Code
            </mat-panel-title>

          </mat-expansion-panel-header>

          <h2>B.B.A-401 ------- Comsumer Behaviour</h2>
          <h2>B.B.A-402 ------- Financial Management</h2>
          <h2>B.B.A-403 ------- Production Management</h2>
          <h2>B.B.A-404 ------- Sales Management</h2>
          <h2>B.B.A-405 ------- Research Methodology</h2>
          <h2>B.B.A-406 ------- Operations Research</h2>


        </mat-expansion-panel>
        <!--Expension Panel end-->

        <!----5.Expension Panel Start-->

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Fivth Semester and Courses Code
            </mat-panel-title>

          </mat-expansion-panel-header>

          <h2>B.B.A-501 ------- Managerial Economics</h2>
          <h2>B.B.A-502 ------- Enterpreneurship & Small Business Management</h2>
          <h2>B.B.A-503 ------- Income Tax Law and Account</h2>
          <h2>B.B.A-504 ------- Cost and Management Accounting</h2>
          <h2>B.B.A-505 ------- Industrial Law </h2>
          <h2>B.B.A-506 ------- Computer Fundamental</h2>


        </mat-expansion-panel>
        <!--Expension Panel end-->

        <!--=6.Expension Panel Start-->
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Sixth Semester and Course Code
            </mat-panel-title>

          </mat-expansion-panel-header>
          <h2>B.B.A-601 --------- International Trade </h2>
          <h2>B.B.A-602 --------- Strategic Management & Business Policy</h2>
          <h2>B.B.A-603 --------- Vat & Service Tax </h2>
          <h2>B.B.A-604 --------- Management Information System </h2>
          <h2>B.B.A-605 --------- Auditing </h2>
          <h2>B.B.A-606 --------- Fundamental of E-Commerce </h2>

        </mat-expansion-panel><br><br>
        <button style="background-color: red;">
        <a href="https://www.imsuc.ac.in/academics/syllabus/bba_syllabus.pdf" download="HTML 5 PDF" style="color: rgb(248, 248, 248);font-size: 1vmax;">GET PDF</a>
      </button> <!--Expension Panel Start-->

      </mat-accordion>
      <!--Section End-->

      <!------/////////..........Bachelor of Commerce..........////////----->


    </mat-tab>
    <mat-tab label="BCOM">

      <!---1.Expension Panel Start-->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            First Year and Courses code
          </mat-panel-title>

        </mat-expansion-panel-header>

        <h2>B.Com-101 -------- Business Comminication</h2>
        <h2>B.Com-102 -------- Business Statistics</h2>
        <h2>B.Com-103 -------- Financial Accounting</h2>
        <h2>B.Com-104 -------- Business Regulatory Framework</h2>
        <h2>B.Com-105 -------- Business Economics</h2>
        <h2>B.Com-106 -------- Business Environment</h2>

      </mat-expansion-panel>
      <!--Expension Panel end-->


      <!---2.Expension Panel Start-->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Second Year and Courses code
          </mat-panel-title>

        </mat-expansion-panel-header>

        <h2>B.Com-201 -------- Company Law </h2>
        <h2>B.Com-202 -------- Cost Accounting </h2>
        <h2>B.Com-203 -------- Principles of Business Management </h2>
        <h2>B.Com-204 -------- Income Tax</h2>
        <h2>B.Com-205 -------- Fundamentals of Entrepreneurship</h2>
        <h2>B.Com-206 -------- Public Finance</h2>

      </mat-expansion-panel>
      <!--Expension Panel end-->


      <!---3.Expension Panel Start-->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Third Year and Courses code
          </mat-panel-title>

        </mat-expansion-panel-header>

        <h2>B.Com-301 -------- Corporate Accounting </h2>
        <h2>B.Com-302 -------- Auditing</h2>
        <h2>B.Com-303 -------- Principles Of Marketing</h2>
        <h2>B.Com-304 -------- Economic Laws</h2>
        <h2>B.Com-305 -------- E-Commerce</h2>
        <h2>B.Com-306 -------- Management Accounting</h2>

      </mat-expansion-panel>
      <!--Expension Panel end-->
      <button style="background-color: red;">
      <a href="http://www.ccsuniversity.ac.in/web/Syllabus/BCOM-I-II-III_2018-19.pdf" download="HTML 5 PDF" style="color: rgb(253, 253, 253);font-size: 1vmax;">GET PDF</a>
    </button>
    </mat-tab>

    <!------///////..........Bachelor of Science..........////////////----->

    <mat-tab label="B.Sc">

      <mat-radio-group aria-label="Select an option">

        <h1 class="font_style">PCM</h1>


        <!---1.Expension Panel Start-->
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              First year courses code
            </mat-panel-title>

          </mat-expansion-panel-header>


          <h1>B.S.C Mathematics</h1>
          <h2>B.Sc-126 -------- Algebra & Trigonometry</h2>
          <h2>B.Sc-127 -------- Calculus</h2>
          <h2>B.Sc-128 -------- Geometry & Vector Calclus</h2><br>

          <h1>B.S.C Physics</h1>
          <h2>B.Sc-126 -------- Mechanics & Wave Motion </h2>
          <h2>B.Sc-127 -------- Kinetic Therory and Thermodynamics</h2>
          <h2>B.Sc-128 -------- Circuit Fundamentals and Basic Electronics</h2><br>

          <h1>B.S.C Chemistry</h1>
          <h2>B.Sc-126 --------Organic </h2>
          <h2>B.Sc-127 --------InOrganic </h2>
          <h2>B.Sc-128 --------Physics Chemistry </h2><br>



        </mat-expansion-panel>
        <!--Expension Panel end-->


      </mat-radio-group>

      <!---2.Expension Panel Start-->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Second Year and Courses code
          </mat-panel-title>

        </mat-expansion-panel-header>

        <h1>B.S.C Mathematics</h1>
        <h2>B.Sc-126 -------- Linear Algebra & Matrices</h2>
        <h2>B.Sc-127 -------- Differential Equations & Integral Transforms </h2>
        <h2>B.Sc-128 -------- Mechanics</h2><br>

        <h1>B.S.C Physics</h1>
        <h2>B.Sc-126 --------</h2>
        <h2>B.Sc-127 -------- </h2>
        <h2>B.Sc-128 -------- </h2><br>

        <h1>B.S.C Chemistry</h1>
        <h2>B.Sc-126 --------Organic </h2>
        <h2>B.Sc-127 --------InOrganic </h2>
        <h2>B.Sc-128 --------Physics Chemistry </h2><br>

      </mat-expansion-panel>
      <!--Expension Panel end-->




      <!---3.Expension Panel Start-->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Third Year and Courses code<br>
          </mat-panel-title>

        </mat-expansion-panel-header>

        <h1>B.S.C Mathematics</h1>
        <h2>B.Sc-126 -------- Real Analysis</h2>
        <h2>B.Sc-128 --------Numerical Analysis & Programming in C</h2>
        <h2>B.Sc-127 -------- Linear Programming (O)</h2><br>

        <h1>B.S.C Physics</h1>
        <h2>B.Sc-126 -------- </h2>
        <h2>B.Sc-127 -------- </h2>
        <h2>B.Sc-128 -------- </h2><br>

        <h1>B.S.C Chemistry</h1>
        <h2>B.Sc-126 --------Organic </h2>
        <h2>B.Sc-127 --------InOrganic </h2>
        <h2>B.Sc-128 --------Physics Chemistry </h2><br>

      </mat-expansion-panel>
      <!--Expension Panel end-->


      <!------////////.......Chemistry.Botony.Zology........./////////----->


      <mat-radio-group aria-label="Select an option">

        <h1 class="font_style">CBZ</h1>>


        <!---.Expension Panel Start-->
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              First year courses code
            </mat-panel-title>

          </mat-expansion-panel-header>


          <h1>B.S.C Zology</h1>
          <h2>B.Sc-120 --------Lower Non-Chordata</h2>
          <h2>B.Sc-121 --------Higher Non-Chordata</h2>
          <h2>B.Sc-122 ------- Cell Biology and Genetics</h2><br>


          <h1>B.S.C Botony</h1>
          <h2>B.Sc-101 --------Diversity Of Viruses,Bacteria & Fungi</h2>
          <h2>B.Sc-102 --------Diversity of Algae, Lichens & Bryophytes</h2>
          <h2>B.Sc-103 ------- Diversity of Pteridophytes & Gymnesperms </h2><br>

          <h1>B.S.C Chemistry</h1>
          <h2>B.Sc-106 --------InOrganic </h2>
          <h2>B.Sc-107 --------Organic </h2>
          <h2>B.Sc-108 --------Physics Chemistry </h2><br>

        </mat-expansion-panel>
        <!--Expension Panel end-->


        <!---2.Expension Panel Start-->
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Second year courses code
            </mat-panel-title>

          </mat-expansion-panel-header>


          <h1>B.S.C Zology</h1>
          <h2>B.Sc-201 --------Animal Distribution Evalution and development Biology</h2>
          <h2>B.Sc-221 --------Chordata</h2>
          <h2>B.Sc-222 -------- Physiology and Biochemistry</h2><br>

          <h1>B.S.C Botany</h1>
          <h2>B.Sc-201 --------Diversity of Angi .SYS DEV. & Reproduction</h2>
          <h2>B.Sc-202 --------Cytology, Genetics, Evolution & Ecology</h2>
          <h2>B.Sc-203 --------Plant Physiology and Biochemistry Practical </h2><br>

          <h1>B.S.C Chemistry</h1>
          <h2>B.Sc-206 --------InOrganic </h2>
          <h2>B.Sc-207 --------Organic </h2>
          <h2>B.Sc-208 --------Physics Chemistry </h2><br>

        </mat-expansion-panel>
        <!--Expension Panel end-->


        <!---3.Expension Panel Start-->
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Third year courses code
            </mat-panel-title>

          </mat-expansion-panel-header>


          <h1>B.S.C Zology</h1>
          <h2>B.Sc-220 --------Appiled and economical zology </h2>
          <h2>B.Sc-221 --------Biotechology emmunology tool and Biostastics</h2>
          <h2>B.Sc-222 --------Ecology Microbiology animal behaviour pollution and technology </h2><br>

          <h1>B.S.C Botany</h1>
          <h2>B.Sc-201 -------- Plant Resource Utilization, Palynology and Biostatistics</h2>
          <h2>B.Sc-202 -------- Molecular Biology and Biotechnology</h2>
          <h2>B.Sc-203 -------- Enviroment Botony and Plant Pathology</h2><br>

          <h1>B.S.C Chemistry</h1>
          <h2>B.Sc-206 --------InOrganic </h2>
          <h2>B.Sc-207 --------Organic </h2>
          <h2>B.Sc-208 --------Physics Chemistry </h2><br>

        </mat-expansion-panel>
        <!--Expension Panel end-->


      </mat-radio-group>
      <button style="background-color: red;">
      <a href="https://www.ccsuniversity.ac.in/ccsu/common-syllabus/Botany-Common-minimum-syllabus.pdf" download="HTML 5 PDF" style="color: rgb(255, 255, 255);font-size: 1vmax;">GET PDF</a>
    </button>
    </mat-tab>
    <!------///////..........Bachelor of Art..........////////////----->


    <mat-tab label="B.A">



      <!---1.Expension Panel Start-->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            First Year and courses
          </mat-panel-title>

        </mat-expansion-panel-header>

        <h2>B.A-1 -------- Hindi </h2>
        <h2>B.A-2 -------- English </h2>
        <h2>B.A-3 -------- Soicalogy </h2>
        <h2>B.A-4 -------- Policital Science </h2>
        <h2>B.A-5 -------- Sanskrit </h2>
        <h2>B.A-6 -------- Drawing </h2>
        <h2>B.A-7 -------- Home Science </h2>

      </mat-expansion-panel>
      <!--Expension Panel end-->


      <!---2.Expension Panel Start-->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Second Year and Courses code
          </mat-panel-title>

        </mat-expansion-panel-header>

        <h2>B.A-1 -------- Hindi </h2>
        <h2>B.A-2 -------- English </h2>
        <h2>B.A-3 -------- Soicalogy </h2>
        <h2>B.A-4 -------- Policital Science </h2>
        <h2>B.A-5 -------- Sanskrit </h2>
        <h2>B.A-6 -------- Drawing </h2>
        <h2>B.A-7 -------- Home Science </h2>

      </mat-expansion-panel>
      <!--Expension Panel end-->



      <!---3.Expension Panel Start-->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Third Year and Courses code
          </mat-panel-title>

        </mat-expansion-panel-header>

        <h2>B.A-1 -------- Hindi </h2>
        <h2>B.A-2 -------- English </h2>
        <h2>B.A-3 -------- Soicalogy </h2>
        <h2>B.A-4 -------- Policital Science </h2>
        <h2>B.A-5 -------- Sanskrit </h2>
        <h2>B.A-6 -------- Drawing </h2>
        <h2>B.A-7 -------- Home Science </h2>
      </mat-expansion-panel>
      <!--Expension Panel end-->


      <!------///////.......... Basic Training Certificate..........////////////----->
      <button style="background-color: red;">
        <a href="https://www.ccsuniversity.ac.in/web/Syllabus/BA-BEd_III_Year-Syllabus.pdf" download="HTML 5 PDF" style="color: rgb(255, 255, 255);font-size: 1vmax;">GET PDF</a>
      </button>

    </mat-tab>
    <mat-tab label="B.T.C">

      <!---1.Expension Panel Start-->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            First Semester and Courses code
          </mat-panel-title>

        </mat-expansion-panel-header>



        <h2>B.T.C-1 -------- Child Devlopment and learing Process(Edu O1) </h2>
        <h2>B.T.C-2 -------- Principles Of Teaching Learning (Edu 02)</h2>
        <h2>B.T.C-3 -------- Science </h2>
        <h2>B.T.C-4 -------- Maths</h2>
        <h2>B.T.C-5 -------- Soical Science </h2>
        <h2>B.T.C-6 -------- Hindi</h2>
        <h2>B.T.C-7 -------- Sanskrit </h2>
        <h2>B.T.C-8 -------- Computer </h2>
        <h2>B.T.C-10 -------- Physical Education</h2>
        <h2>B.T.C-11 -------- Interships</h2>


      </mat-expansion-panel>
      <!--Expension Panel end-->




      <!---2.Expension Panel Start-->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Second Semester and Courses code
          </mat-panel-title>

        </mat-expansion-panel-header>



        <h2>B.T.C-1 -------- Child Devlopment and learing Process(Edu O3) </h2>
        <h2>B.T.C-2 -------- Principles Of Teaching Learning (Edu 04)</h2>
        <h2>B.T.C-3 -------- Science </h2>
        <h2>B.T.C-4 -------- Maths</h2>
        <h2>B.T.C-5 -------- Soical Science </h2>
        <h2>B.T.C-6 -------- Hindi</h2>
        <h2>B.T.C-7 -------- English </h2>
        <h2>B.T.C-8 -------- Interships </h2>


      </mat-expansion-panel>
      <!--Expension Panel end-->


      <!---3.Expension Panel Start-->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Third Semester and Courses code
          </mat-panel-title>

        </mat-expansion-panel-header>



        <h2>B.T.C-1 ------Educational Evalution, Action Research and Innovations(Edu O5) </h2>
        <h2>B.T.C-2 -------- Inclusive Education and Education of Special Need Children, Guidance and Counselling(Edu
          06)</h2>
        <h2>B.T.C-3 -------- Science </h2>
        <h2>B.T.C-4 -------- Maths</h2>
        <h2>B.T.C-5 -------- Soical Science </h2>
        <h2>B.T.C-6 -------- Hindi</h2>
        <h2>B.T.C-7 -------- Sanskrit </h2>
        <h2>B.T.C-8 -------- Computer </h2>
        <h2>B.T.C-9 -------- English </h2>
        <h2>B.T.C-10 -------- Interships </h2>
        <h2>B.T.C-11 -------- Physical Education</h2>


      </mat-expansion-panel>
      <!--Expension Panel end-->

      <!---4.Expension Panel Start-->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Forth Semester and Courses code
          </mat-panel-title>

        </mat-expansion-panel-header>



        <h2>B.T.C-1 ------- Educational Language(Edu O7) </h2>
        <h2>B.T.C-2 -------- Educational Management Adminisitation (Edu 08)</h2>
        <h2>B.T.C-3 -------- Science </h2>
        <h2>B.T.C-4 -------- Maths</h2>
        <h2>B.T.C-5 -------- Soical Science </h2>
        <h2>B.T.C-6 -------- Hindi</h2>
        <h2>B.T.C-9 -------- English </h2>
        <h2>B.T.C-10 -------- Peace Education </h2>
        <h2>B.T.C-11 -------- Physical Education</h2>


      </mat-expansion-panel>
      <!--Expension Panel end-->
      <button style="background-color: red;">
        <a href="http://www.ccseducation.co.in/pdf/Syllabus-BTC.pdf" download="HTML 5 PDF" style="color: rgb(255, 255, 255);font-size: 1vmax;">GET PDF</a>
      </button>



      <!------///////.......... Bachelor of Education..........////////////----->


    </mat-tab>
    <mat-tab label="B.Ed">


      <!---.Expension Panel Start-->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            First Year and Courses code
          </mat-panel-title>

        </mat-expansion-panel-header>

        <h2>B.Ed-CC 1: -------- Contemparory India and Education </h2>
        <h2>B.Ed-CC 2: -------- Philosophical and Sociological Perspectives of Education</h2>
        <h2>B.Ed-CC 3: -------- Growing up as a letter</h2>
        <h2>B.Ed-CC 4: -------- Teacher,Teaching and Technology </h2>
        <h2>B.Ed-PC 1: -------- Pedagogy of a School Subject-I</h2>
        <h2>B.Ed-PC 2: -------- Pedagogy of a School Subject-II</h2>

      </mat-expansion-panel>
      <!--Expension Panel end-->


      <!---2.Expension Panel Start-->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Second Year and Courses code
          </mat-panel-title>

        </mat-expansion-panel-header>

        <h2>B.Ed-CC 5: --------Creative an Inclusive School</h2>
        <h2>B.Ed-CC 6: -------- Gender, School and Society </h2>
        <h2>B.Ed-CC 7: -------- Knowledge Language and Curriculum</h2>
        <h2>B.Ed-PC 3: -------- Assessment For Learning</h2><br>
        <h2>B.Ed-PC 4: -------- ((Optional Courses any one of the following))</h2>
        <h2>B.Ed---(i) -------- Educational Administration and Management</h2>
        <h2>B.Ed---(ii) -------- Guidance and Conselling</h2>
        <h2>B.Ed---(iii) -------- Environment Education</h2>
        <h2>B.Ed---(iv) -------- Computer Education</h2>
        <h2>B.Ed---(v) -------- Health, Physical Education and Yog</h2>
        <h2>B.Ed---(vi) -------- Life Style Management</h2>

      </mat-expansion-panel>
      <!--Expension Panel end-->
      <button style="background-color: red;">
        <a href="https://www.ccsuniversity.ac.in/web/Syllabus/BEd_Two-Yeras_Syllabus_CCS_University.pdf" download="HTML 5 PDF" style="color: rgb(255, 255, 255);font-size: 1vmax;">GET PDF</a>
      </button>


    </mat-tab>
  </mat-tab-group>
</div>
