* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
  scroll-behavior: smooth;
  -webkit-user-drag: none;
}
::-webkit-scrollbar {
  width: 14px;
}
::-webkit-scrollbar-track {
  /* border: 2px solid #2d3748; */
  background: #161616;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #fdbb2d, #ff5125);
  border-radius: 10px;
}
h1::selection {
  background-color: #ff6a00;
  color: #f8b07d;
}
h2::selection {
  background-color: #ff6a00;
  color: #f8b07d;
}
p::selection {
  background-color: #ff6a00;
  color: #f8b07d;
}
a::selection {
  background-color: #ff6a00;
  color: #f8b07d;
}
span::selection {
  background: #ff6a00;
  color: #f8b07d;
}
button::selection {
  background: #ff6a00;
  color: white;
}
/* NAVBAR SECTION */
.navbar {
  background: #131313;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}
.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}
#navbar__logo {
  background: #ee0979; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ff6a00,
    #ee0979
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ff6a00,
    #ee0979
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 700;
}
.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
}
.navbar__item {
  height: 80px;
}
.navbar__links {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  text-decoration: none;
  height: 100%;
  transition: all 0.3s ease;
}
.navbar__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
}
.navbar__btn:hover {
  transform: scale(1.05);
  transition: all 0.3s ease;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 10px;
  background: #833ab4;
  background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  color: #fff;
  transition: all 0.3s ease;
}
.navbar__links:hover {
  color: #f7673c;
  transition: all 0.3s ease;
}
@media screen and (max-width: 960px) {
  .navbar__container {
    display: flex;
    height: 80px;
    justify-content: space-between;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }
  .navbar__menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: -1;
  }
  .navbar__menu.active {
    background: #131313;
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    height: 60vh;
    font-size: 1.6rem;
  }
  #navbar__logo {
    padding-left: 25px;
  }
  .navbar__toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #fff;
  }
  .navbar__items {
    width: 100%;
  }
  .navbar__links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }
  .navbar__btn {
    padding-bottom: 2rem;
  }
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80px;
    margin: 0;
  }

  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }
  .navbar__toggle .bar {
    display: block;
    cursor: pointer;
  }
  /* animation for the menu toggle button */
  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }
  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

/* HERO SECTION */
.hero {
  background: #000000;
  background: linear-gradient(to right, #161616, #000000);
}
.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  height: 90vh;
  text-align: center;
  padding: 30px;
  margin: 0 auto;
}
.hero__heading {
  font-size: 100px;
  margin-bottom: 24px;
  color: #fff;
}
.hero__heading span {
  background: #ee0979; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ff6a00,
    #ee0979
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ff6a00,
    #ee0979
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.hero__description {
  font-size: 60px;
  background: #da22ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #9114ff,
    #da22ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #8f0eff,
    #da22ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
/* shows which section is active */
.highlight {
  border-bottom: 4px solid #fd1d1d;
}

@media screen and (max-width: 768px) {
  .hero__heading {
    font-size: 60px;
  }
  .hero__description {
    font-size: 40px;
  }
}

/* ABOUT SECTION */
.main {
  background-color: #131313;
  padding: 10rem 0;
}
.main__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  margin: auto;
  height: 90%;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  padding: 0 50px;
}
.main__content {
  color: #fff;
  width: 100%;
}
.main__content h1 {
  font-size: 2rem;
  background: #fe3b6f;
  background-image: linear-gradient(to top, #ff087b 0%, #ed1a52 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-transform: uppercase;
  margin-bottom: 32px;
}
.main__content h2 {
  font-size: 3rem;
  background: #ff8177; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #9114ff,
    #da22ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #8f0eff,
    #da22ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.main__container p {
  margin-top: 1rem;
  font-size: 1.75rem;
  font-weight: 700;
}
/* button styling */
.main__btn {
  font-size: 1.8rem;
  background: #833ab4;
  background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  padding: 20px 60px;
  border: none;
  border-radius: 10px;
  margin-top: 2rem;
  cursor: pointer;
  outline: none;
  position: relative;
  transition: all 0.35s;
}
.main__btn a {
  position: relative;
  z-index: 2;
  color: #fff;
  text-decoration: none;
}
.main__btn:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #ff5125;
  transition: all 0.5s;
  border-radius: 10px;
}
.main__btn:hover {
  color: #fff;
}
.main__btn:hover:after {
  width: 100%;
}

.main__img--container {
  text-align: center;
}
.main__img--card {
  margin: 10px;
  height: 420px;
  width: 420px;
  border-radius: 10px;
  display: flex;
  font-size: 100px;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  background: #ff5125;
  background: -webkit-linear-gradient(to right, #dd2476, #ff5125);
  background: linear-gradient(to right, #dd2476, #ff5125);
}

.fa-layer-group,
.fa-users {
  font-size: 14rem;
}

#card-2 {
  background: #ff5125;
  background: -webkit-linear-gradient(to right, #dd2476, #ff5125);
  background: linear-gradient(to right, #dd2476, #ff5125);
  margin-left: 10px;
}
/* mobile responsive */
@media screen and (max-width: 1100px) {
  .main__container {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    height: 90%;
  }
  .main__img--container {
    display: flex;
    justify-content: center;
  }
  .main__img--card {
    height: 350px;
    width: 350px;
  }
  .main__content {
    text-align: center;
    margin-bottom: 4rem;
  }
  .main__content h1 {
    font-size: 2.5rem;
    margin-top: 2rem;
  }
  .main__content h2 {
    font-size: 3rem;
  }
  .main__content p {
    margin-top: 2rem;
  }
  .main__btn {
    padding: 12px 36px;
    margin: 2.5rem 0;
  }
}

/* SERVICES SECTION */
.services {
  background: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 10rem 0;
}
.services h1 {
  background: #ff8177;
  background-image: linear-gradient(to right, #ff0844 0%, #f7673c 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  margin-bottom: 3rem;
  font-size: 3rem;
}
.services__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}
.services__card {
  margin: 10px;
  height: 425px;
  width: 300px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  background-image: linear-gradient(-225deg, #00dbde 0%, #fc00ff 100%);
  transform-style: preserve-3d;
}
.services__card:nth-child(2) {
  background: #2196f3; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    -225deg,
    #f44336,
    #2196f3
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    -225deg,
    #f44336,
    #2196f3
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.services__card:nth-child(3) {
  background-image: linear-gradient(
    -225deg,
    #231557,
    #44107a,
    #ff1361,
    #fff800
  );
}
.services__card:nth-child(4) {
  background: #1a2a6c; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    -225deg,
    #fdbb2d,
    #b21f1f,
    #1a2a6c
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    -225deg,
    #fdbb2d,
    #b21f1f,
    #1a2a6c
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.services__card h2 {
  text-align: center;
  transform: translateZ(80px);
}
.services__card p {
  text-align: center;
  margin-top: 24px;
  font-size: 20px;
  transform: translateZ(80px);
}
.services__btn {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  transform: translateZ(80px);
}
.services__card button {
  color: #fff;
  padding: 14px 24px;
  border: none;
  outline: none;
  border-radius: 10px;
  background: #131313;
  font-size: 1rem;
}
.services__card button:hover {
  cursor: pointer;
}
.services__card:hover {
  cursor: pointer;
}

@media screen and (max-width: 1300px) {
  .services__wrapper {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 768px) {
  .services__wrapper {
    grid-template-columns: 1fr;
  }
}

/* FOOTER SECTION */
.footer__container {
  background: #000000;
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#footer__logo {
  color: #fff;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}
.footer__links {
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: center;
}
.footer__links--wrapper {
  display: flex;
}
.footer__links--items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 16px;
  text-align: left;
  width: 160px;
  box-shadow: border-box;
}
.footer__links--items h2 {
  margin-bottom: 16px;
  color: #fff;
}
.footer__links--items a {
  color: #fff;
  text-decoration: none;
  margin-bottom: 0.5rem;
  transition: 0.3s ease-out;
}
.footer__links--items a:hover {
  color: #f7673c;
  transition: 0.3s ease-out;
}

.social__icon--link {
  color: #fff;
  font-size: 24px;
  transition: all 0.3s ease-in-out;
}
.social__icon--link:hover i {
  transform: scale(1.3);
  transition: all 0.3s ease-in-out;
}
.social__media {
  max-width: 1000px;
  width: 100%;
}
.social__media--wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1000px;
  margin: 40px auto 0 auto;
}

.social__icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 240px;
}
.website__rights {
  color: #fff;
}

@media screen and (max-width: 820px) {
  .footer__links {
    padding-top: 2rem;
  }
  #footer__logo {
    margin-bottom: 2rem;
  }
  .website__rights {
    margin-bottom: 2rem;
  }
  .footer__links--wrapper {
    flex-direction: column;
  }
  .social__media--wrap {
    flex-direction: column;
  }
}
@media screen and (max-width: 480px) {
  .footer__links--items {
    margin: 0;
    padding: 10px;
    width: 100%;
  }
}
