/*desktops 1024px to 1200px */ /*above 1200px everything is bydefault as we made it*/
@media only screen and (max-width: 1200px){
  .hero-text-box{
    width:100%;
    padding:0 2%;
  }

  .row{padding: 0 2%;}

}

/* big tablets to laptops 768px to 1023px */
@media only screen and (max-width: 1023px){
  body{font-size: 18px;}
  section{padding: 60px 0;}

  .long-copy{
    width:80%;
    margin-left:10%;
  }
}

/* big phones to small tablet 481px to 767px */
@media only screen and (max-width: 767px){

}


/* small phones 0 to 480px */
@media only screen and (max-width: 480px){


}
