/*---------------------------*/
/*  BASIC SETUP  */
/*---------------------------*/

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

html{
  background-color: #fff;
  color:#555;
  font-family: 'Lato','Arial',sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering:optimizeLegibility;
}



/*---------------------------*/
/*  REUSABLE COMPONENTS  */
/*---------------------------*/

.row{
  width:1140px;
  margin:0 auto;
}

section{
  padding:80px 0;
}

.box{
  padding:1%;
}

/*--------HEADINGS--------*/
h1,h2,h3{
  font-weight: 300;
  text-transform: uppercase;


}

h1{
  margin:0;
  margin-bottom: 20px;
  color:#fff;
  font-size:240%;
  word-spacing: 4px;
  letter-spacing: 1px;
}

h2{
  font-size:180%;
  word-spacing:2px;
  text-align:center;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

h2:after{
  display: block;
  height:2px;
  background-color: #e67e22;
  content:" ";
  width:100px;
  margin:0 auto;
  margin-top:30px;
}

h3{
  font-size:110%;
  margin-bottom:15px;

}

/*--------PARAGRAPHS--------*/
.long-copy{

  line-height:145%;
  width:70%;
  margin-left:15%;
}

.box p{
  font-size:90%;
  line-height: 145%;
}

/*--------ICONS--------*/
.icon-big{
  font-size: 250%;
  display: block;
  color:#e67e22;
  margin-bottom: 15px;
}

.icon-small{
  display: inline-block;
  width:30px;
  text-align:center;
  color:#e67e22;
}

/*--------LINKS--------*/
a:link,
a:active{
  color:#e67e22;
  text-decoration:none;
  border-bottom:1px solid #e67e22;
}
a:hover,
a:active{
  color:#e67e22;
  border-bottom:1px solid transparent;
}

/*--------BUTTONS--------*/
.btn:link,
.btn:visited{
  display: inline-block;
  font-weight: 300;
  padding:10px 30px;
  /*border:1px solid yellow;*/
  text-decoration: none;
  border-radius:200px;
  transition: background-color 0.2s, color 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited{
  color:#fff;
  background-color: #e67e22;
  border:1px solid #e67e22;
  margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited{
  border:1px solid #e67e22;
  color:#e67e22;
}

.btn:hover,
.btn:active{
  background-color: #cf6d17;
  color:#fff;

}

.btn-full:hover,
.btn-full:active{

  border:1px solid #e67e22;
}

.btn-ghost:hover,
.btn-ghost:active{
  border:1px solid #cf6d17;
  color:#fff;
}


/*---------------------------*/
/*  HEADER  */
/*---------------------------*/

header{
  background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('img/hero.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height:100vh;
}

.hero-text-box{
  position: absolute;
  width:1140px;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}

.logo{
  height:100px;
  width:auto;
  float:left;
  margin-top: 20px;
}

.main-nav{
  float:right;
  list-style: none;
  margin-top:20px;
}

.main-nav li{
  display: inline-block;
  margin-left:40px;

}

.main-nav li a:link,
.main-nav li a:visited{
  padding: 8px 0;
  color:#fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active{
  border-bottom: 2px solid #e67e22;
}
/*---------------------------*/
/*  FEATURES  */
/*---------------------------*/
.section-features .long-copy{
  padding: 30px;
}

/*---------------------------*/
/*  MEALS  */
/*---------------------------*/
.section-meals{
  padding: 0;
}
.meals-showcase{
  list-style: none;
  width:100%;
  height: 75%;
}

.meals-showcase li{
  display: block;
  float:left;
  width:25%;
}

.meals-photo{
  width: 100%;
  margin:0;
  overflow: hidden;
  background-color: #000;
}

.meals-photo img{
  opacity:0.7;
  width:100%;
  height:auto;
  transform:scale(1.15);
  transition: transform 0.5s, opacity 0.5s;

}
.meals-photo img:hover{
  transform:scale(1.03);
  opacity: 1;
}

/*---------------------------*/
/*  HOW IT WORKS  */
/*---------------------------*/
.section-steps{
  background-color: #f4f4f4;
}
.steps-box{
  margin-top:30px;
}

.steps-box:first-child{
  text-align:center;
  padding-right:3%;
}

.steps-box:last-child{
  padding-left:3%;
  margin-top:70px;
}
.app-screen{
  width:40%;
}

.works-step{
  margin-bottom:50px;
}

.works-step div {
  color:#e67e22;
  border: 2px solid #e67e22;
  display: inline-block;
  border-radius:50%;
  height: 50px;
  width:50px;
  text-align:center;
  padding:5px;
  float:left;
  font-size:150%;
  margin-right:25px;
}

.btn-app img {
  height: 50px;
  width:auto;
  margin-right:10px;
}

/*---------------------------*/
/*  CITIES  */
/*---------------------------*/
.box img{
  width:100%;
  height: auto;
  margin-bottom: 15px;
}

.city-features{
  margin-bottom:5px;
}

/*---------------------------*/
/*  TESTIMONIALS  */
/*---------------------------*/
.section-testimonials{
  background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('img/back-customers.jpg');
  background-size: cover;
  color:#fff;
  background-attachment: fixed;
}

blockquote{
  padding:2%;
  font-family:italic;
  line-height: 145%;
}
blockquote::before{
  content: "\201c";
  font-size: 380%;
  display: block;
}

cite{
  font-size:90%;
  margin-top:25px;
  display: block;
}
cite img{
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle;
}

/*---------------------------*/
/*  SIGN UP  */
/*---------------------------*/
.section-plans{
  background-color:#f4f4f4;
}
.plan-box{
  background-color: #fff;
  border-radius:5px;
  width:90%;
  margin-left:5%;
  box-shadow:10px 10px 2px #efefef;
}
.plan-box div{
  padding:15px;
  border-bottom:1px solid #e8e8e8;
}
.plan-box div:first-child{
  background-color:#fcfcfc;
}
.plan-box div:last-child{
  text-align: center;
  border:0;
}
.plan-price{
  font-size: 300%;
  margin-bottom:10px;
  font-weight:100;
  color:#e67e22;
}
.plan-price span{
  font-size: 30%;
  font-weight: 300;
}
.plan-price meak{
  font-size: 80%;
}
.plan-box ul{
  list-style: none;
}
.plan-box ul li{
  padiing:5px 0;
}

/*---------------------------*/
/*  FOOTER  */
/*---------------------------*/
footer{
  background-color:#333;
}

.footer-nav{
  list-style:none;
  float:left;
}
.social-links{
  list-style:none;
  float:right;
}
.footer-nav li,
.social-links li{
  display: inline-block;
  margin-right: 20px;
}
.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited{
  text-decoration:none;
  border:0;
  color:#888;
  transition:color 0.2s;
}
.footer-nav li a:hover,
.footer-nav li a:active{
  color:#e67e22;
}
.social-links li a:link,
.social-links li a:visited{
  font-size:180%;
}
.social-links li a:hover,
.social-links li a:active{
  color:#fff;
}
footer p{
  text-align:center;
  color:#888;
  margin:1rem;
  font-size:90%;
}
